<div class="row mt-4 d-flex justify-content-center"  *ngIf="branchOffices.length == 0">
    <div class="col-sm-4 text-center">
        <p style="font-size: 14px; color: #a8a8a8;">{{'No hay Sucursales pendientes' | translate}}</p>
    </div>
</div>

<div class="row d-flex justify-content-center" *ngIf="branchOffices.length > 0">
    <div class="col-lg-4 filter text-center">
        <input class="form-control" #myInput type="text" placeholder="Buscar.." (input)="initializeSearchFilter()">
        <p style="font-size: 10px; color: #a8a8a8;">{{'Para utilizar correctamente el buscador por favor desplegar todos los registros con el paginador' | translate}}</p>
    </div>
</div>

<div class="row p-1">
    <div class="col-sm-12 d-flex">
        <div class="col-sm-6">
            <p style="font-size: 12px; color: #a8a8a8;">({{branchOffices.length}} {{'registros' | translate}})
            </p>
        </div>
        <div class="col-sm-6">
            <button (click)="toCreateBranchOffices()" class="btn btn-success float-end">
                <img src="assets/images/icons/add.svg"> {{'Añadir' | translate}}
            </button>
        </div>
    </div>
</div>

<div class="row mt-1">
    <div class="col-md">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th class="custom-header">{{'Nombre' | translate}}</th>
                    <th class="custom-header">{{'Ciudad' | translate}}</th>
                    <th class="custom-header">{{'NIT' | translate}}</th>
                    <th class="custom-header">{{'Acciones' | translate}}</th>
                </tr>
            </thead>
            <tbody id="myTable">
                <tr
                *ngFor="let branchOffice of branchOffices.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize)">
                <td>{{ branchOffice.name }}</td>
                <td>{{ branchOffice.city[0].name }}, {{branchOffice.city[0].department[0].name}}</td>
                <td>{{ branchOffice.nit }}</td>
                <td>
                    <button class="btn btn-sm btn-info m-2"
                        (click)="toEditBranchOffice(branchOffice.id)">{{'Editar' | translate}}</button>
                    <button class="btn btn-sm btn-danger"
                        (click)="deleteBranchOffice(branchOffice)">{{'Eliminar' | translate}}</button>
                </td>
            </tr>
            </tbody>
        </table>
        <mat-paginator [length]="branchOffices.length" [pageSizeOptions]="[25, 50, 100, branchOffices.length]"
            showFirstLastButtons></mat-paginator>
    </div>
</div>