mat-card {
    width: 328.33px;
    background-color: #b3deff;

    h3 {
        font-weight: bold;
    }

    .title-card {
        padding-top: 15px;
        padding-left: 15px;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);

        h3 {
            font-size: 20px;
        }
    }
}

mat-card-content {
    color: #808080;
    background-color: #e3e3e3 !important;
    padding-bottom: 10px;
    width: 90%;
    border-radius: 5px;
    text-align: center;
}

mat-paginator {
    background-color: transparent !important;
}

td {
    vertical-align: middle;
}

.custom-header {
    background-color: #fc7052;
    color: white;
}

.col-lg-1 {
    .btn-lg {
        float: right !important;
        background-color: #fc7052;
        border: none;
    }
}

@media (orientation: portrait) {
    .col-lg-1 {
        .btn-lg {
            float: none !important;
            background-color: #fc7052;
        }
    }
}