<div class="general-container">
    <div class="container mt-4">

        <div class="row header-mobile">
            <div class="col-sm-10 d-flex justify-content-center">
                <h2 class="text-title"><lucide-icon name="factory" [size]="60"></lucide-icon> {{'Localidades' | translate}}</h2>
            </div>
            <div class="col-md-8 d-flex justify-content-center text-center">
                <p style="font-size: 10px; color: #b9b9b9;">{{'Las Ciudades son registros necesarios para la creación de sucursales y establecer a donde pertenecen' | translate}}</p>
            </div>
        </div>

        <div class="row header mb-4">
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10 d-flex justify-content-center">
                    <h2 class="text-title"><lucide-icon name="factory" [size]="60"></lucide-icon> {{'Localidades' | translate}}</h2>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <div class="row text-content text-center mb-2">
                <div class="col-md-12">
                    <p style="font-size: 12px; color: #b9b9b9;">{{'Las Ciudades son registros necesarios para la creación de sucursales y establecer a donde pertenecen' | translate}}</p>
                </div>
            </div>
        </div>

        <div class="row mt-4 d-flex justify-content-center" *ngIf="localities.length == 0">
            <div class="col-sm-4 text-center">
                <p style="font-size: 14px; color: #a8a8a8;">{{'Presione Añadir para crear registros en esta sección' | translate}}</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center search-filter" *ngIf="localities.length > 0">
            <div class="col-lg-4 filter text-center">
                <input class="form-control" #myInput type="text" placeholder="{{'Buscar..' | translate}}"
                    (input)="initializeSearchFilter()">
                <p style="font-size: 10px; color: #a8a8a8;">{{'Para utilizar correctamente el buscador por favor desplegar todos los registros con el paginador' | translate}}</p>
            </div>
        </div>

        <div class="row p-1 buttons-group-landscape">
            <div class="col-sm-12 d-flex">
                <div class="col-md-11">
                    <p style="font-size: 12px; color: #a8a8a8;">
                        <button type="button" class="btn btn-secondary btn-sm" (click)="setPageSizeToTotal()">{{'Mostrar todo' | translate}}</button>
                        {{pageIndex * pageSize + 1}} - {{(pageIndex + 1) * pageSize}} {{'de' | translate}} {{localities.length}} {{'registros' | translate}} 
                    </p>
                </div>
                <div class="col-md-1 float-end">
                    <button (click)="toCreateLocalities()" class="btn btn-success float-end">
                        <img src="assets/images/icons/add.svg"> {{'Añadir' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <label class="text-length px-1" style="font-size: 10px; color: #a8a8a8;">{{pageIndex * pageSize + 1}} - {{(pageIndex + 1) * pageSize}} {{'de' | translate}} {{localities.length}} {{'registros' | translate}}</label>
        <div class="buttons-group-portrait">
            <button class="btn btn-sm btn-secondary" (click)="setPageSizeToTotal()">{{'Mostrar todo' | translate}}</button>
            <button class="btn btn-sm btn-success" (click)="toCreateLocalities()"><img src="assets/images/icons/add.svg"> {{'Añadir' | translate}}</button>
        </div>

        <div class="row mt-1 d-flex justify-content-center" *ngIf="isLoading">
            <div class="col-sm-1">
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only"></span>
                </div>
                <div class="spinner-grow text-light" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>

        <div class="row mt-1 table-list">
            <div class="col-md">
                <table class="table table-striped table-bordered" *ngIf="localities.length > 0">
                    <thead>
                        <tr>
                            <th class="custom-header" (click)="sortData('name')" id="encabezado">{{'Nombre' | translate}}</th>
                            <th class="custom-header" (click)="sortData('department[0].name')" id="encabezado">{{'Estado/provincia' | translate}}</th>
                            <th class="custom-header" (click)="sortData('department[0].name')" id="encabezado">{{'Equipo-Imei' | translate}}</th>
                            <th class="custom-header" style="width: 16%;">{{'Acciones' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr *ngFor="let city of localities.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize)">
                            <td>{{ city.name }}</td>
                            <td>
                                <label *ngIf="city.parent_id">
                                    {{ city.parent_id.name }}
                                </label>
                                <label *ngIf="!city.parent_id">
                                    {{'Sin asignar' | translate}}
                                </label>
                            </td>
                            <td>{{ city.devices.imei }}</td>
                            <td id="buttons-table" > 
                                <button class="btn btn-sm btn-info" (click)="toEditCity(city)">{{'Editar' | translate}}</button>
                                <button class="btn btn-sm btn-danger" *ngIf="city.state == 'ACTIVO'" (click)="deleteCity(city)">{{'Desactivar' | translate}}</button>
                                <button class="btn btn-sm btn-success" *ngIf="city.state == 'INACTIVO'" (click)="activteCity(city)">{{'Activar' | translate}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [length]="localities.length" [pageSizeOptions]="[25, 50, 100, localities.length]"
                    showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>

    <app-footer class="hide-on-mobile" ></app-footer>
</div>
