<div class="container">
    <div class="row">
        <div class="col-md-10 content">
            <h2>{{'title' | translate}}</h2>
            <hr>
            <h3>{{'Responsable del Sitio Web' | translate}}</h3>
            <pre>{{'responsability' | translate}}</pre>
            <h3>{{'Descripción de la Aplicación' | translate}}</h3>
            <p>{{'description' | translate}}</p>
            <h3>{{'Recopilación y Uso de Datos' | translate}}</h3>
            <p>{{'recopilation' | translate}}</p>
            <h3>{{'Política de Privacidad' | translate}}</h3>
            <p>{{'policity' | translate}}</p>
            <p>{{'laws' | translate}}</p>
            <h3>{{'Condiciones de Uso' | translate}}</h3>
            <p>{{'conditions' | translate}}</p>
            <h3>{{'Limitación de Responsabilidad' | translate}}</h3>
            <p>{{'limitations' | translate}}</p>
        </div>
    </div>
</div>
<app-footer class="hide-on-mobile"></app-footer>