.container {
    padding: 5rem;
    padding-bottom: 120px;

    .content {
        margin: 0 auto;
        padding: 2rem;
        border-radius: 4px;

        box-shadow: 0px 3px 20px 0px rgba(89, 89, 89, 0.75);
        -webkit-box-shadow: 0px 3px 20px 0px rgba(89, 89, 89, 0.75);
        -moz-box-shadow: 0px 3px 20px 0px rgba(89, 89, 89, 0.75);

        pre {
            font-size: 14px;
            font-family: 'Roboto', sans-serif;
        }

        h3 {
            font-weight: 550;
        }

        h2 {
            text-align: center;
            font-weight: bold;
            margin-bottom: 2rem;
            color: rgb(157, 23, 23);
        }

        hr {
            width: 70%;
            margin: 2rem auto;
            color: rgb(157, 23, 23);
        }
    }
}

@media (orientation: portrait) {
    .container {
        margin-top: -5rem;
        padding: 3rem 1.5rem 6rem 1.5rem;

        .content {
            padding: 0.5rem;
        }
    }
}

/* Estilos para ocultar el footer en vista móvil */
@media (max-width: 768px) {
    .hide-on-mobile {
        display: none !important;
    }

    .container {
        margin-top: 5rem;
    }
}