mat-card {
    width: 328.33px;
    background-color: #b3deff;

    h3 {
        font-weight: bold;
    }

    .title-card {
        padding-top: 15px;
        padding-left: 15px;
        text-shadow: 1px 1px 0px rgba(0, 0, 0, 0.15);

        h3 {
            font-size: 20px;
        }
    }
}

mat-card-content {
    color: #74747e;
    background-color: #d7eeff !important;
    padding-bottom: 10px;
    width: 90%;
    border-radius: 5px;
    text-align: center;
}

.table {
    font-size: 12px;

    td {
        vertical-align: middle;
    }

    #encabezado {
        cursor: pointer;
    }

    #encabezado:hover {
        cursor: pointer;
        background-color: #0b6db8;
    }

    .custom-header {
        background-color: #014e87;
        color: white;
    }

}

.col-lg-1 {
    .btn-lg {
        float: right !important;
        background-color: #014e87;
        border: none;
    }
}

ul {
    margin: 0;
    background-color: transparent !important;

    li {
        background-color: transparent !important;
    }
}

.filter {
    padding-top: 0.3rem;
}

mat-paginator {
    background-color: transparent !important;
}

#responsive-container {
    display: flex;
    flex-wrap: wrap;

    #items {
        flex-grow: 1;
        flex-basis: 200;
        margin: 0.2rem;
    }
}

@media (orientation: portrait) {
    .col-lg-1 {
        .btn-lg {
            float: none !important;
            background-color: #014e87;
        }
    }

    .search-filter {
        width: 75%;
        margin: 0 auto;
        margin-bottom: 2rem;
        font-size: 11px !important;

        input {
            font-size: 11px !important;
        }
    }

    .header-mobile {
        color: #014e87 !important;
        margin-bottom: 2rem;
    }

    .header {
        display: none !important;
    }

    .btn {
        font-size: 12px !important;
    }

    .buttons-group-landscape {
        display: none !important;
    }

    .table-list {
        overflow-x: auto;
        max-height: 500px;
        max-width: 103%;
        scrollbar-width: none;
        /* Firefox */
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */

        &::-webkit-scrollbar {
            display: none;
            /* Safari and Chrome */
        }

        td {
            font-size: 11px !important;
        }

        th {
            font-size: 11px !important;
        }

        span {
            font-size: 11px !important;
        }

        .btn {
            font-size: 11px !important;
        }

        #orders {
            display: none !important;
        }

        #buttons-table {
            flex-wrap: wrap;

            .btn {
                flex-grow: 1;
                flex-basis: 200;
                margin: 0.2rem;
            }
        }
    }

    .buttons-group-portrait {
        display: flex;
        flex-wrap: wrap;

        .btn {
            flex-grow: 1;
            flex-basis: 200;
            margin: 0.2rem;
        }



        mat-paginator {
            font-size: 11px !important;
        }
    }

    .hide-on-mobile {
        display: none !important;
    }
}

@media (orientation: landscape) {

    .header-mobile {
        display: none !important;
    }

    .text-length {
        display: none !important;
    }

    .buttons-group-portrait {
        display: none !important;
    }

    .table-list {
        overflow-x: auto;

        #buttons-table {
            .btn {
                margin: 0.2rem;
            }
        }
    }

}