<app-menu-home></app-menu-home>
<div class="general-container">
    <div class="container mt-2">
        <form [formGroup]="billForm" (ngSubmit)="onSubmit()">
    
            <div class="row justify-content-center">
                <h1 class="mb-4">{{'Creación de Remisión' | translate}}</h1>
                <div class="col-lg-6">
                    <div formGroupName="charge">
                        <h2>Datos del cargue</h2>
                        <div>
                          <label for="densidad" class="form-label">-- {{ 'Densidad' | translate }}</label>
                          <input id="densidad" type="number" class="form-control" formControlName="densidad">
                        </div>
            
                        <div>
                          <label for="temperatura" class="form-label">-- {{ 'Temperatura' | translate }}</label>
                          <input id="temperatura" type="number" class="form-control" formControlName="temperatura">
                        </div>
            
                        <div>
                          <label for="masaTotal" class="form-label">-- {{ 'Masa Total' | translate }} Kg</label>
                          <input id="masaTotal" type="number" class="form-control" formControlName="masaTotal">
                        </div>
            
                        <div>
                          <label for="volumenTotal" class="form-label">-- {{ 'Volumen Total' | translate }}</label>
                          <input id="volumenTotal" type="number" class="form-control" formControlName="volumenTotal">
                        </div>
            
                        <div>
                          <label for="horaInicial" class="form-label">-- {{ 'Hora Inicial' | translate }}</label>
                          <input id="horaInicial" type="text" class="form-control" formControlName="horaInicial">
                        </div>
            
                        <div>
                          <label for="horaFinal" class="form-label">-- {{ 'Hora Final' | translate }}</label>
                          <input id="horaFinal" type="text" class="form-control" formControlName="horaFinal">
                        </div>

                        <div>
                          <label for="fechaInicial" class="form-label">-- {{ 'Fecha Inicial' | translate }}</label>
                          <input id="fechaInicial" type="text" class="form-control" formControlName="fechaInicial">
                        </div>
            
                        <div>
                          <label for="fechaFinal" class="form-label">-- {{ 'Fecha Final' | translate }}</label>
                          <input id="fechaFinal" type="text" class="form-control" formControlName="fechaFinal">
                        </div>

                    </div>
    
                </div>

                <div class="col-lg-6">
                    <div class="mb-3">
                        <label for="branch_office" class="form-label">-- {{'Establecimiento' | translate}}</label>
                        <div class="input-group">
                            <input type="text" id="branch_office" class="form-control" formControlName="branch_office" [matAutocomplete]="autoBranch" placeholder="{{'Establecimientos' | translate}}">
                            <mat-autocomplete #autoBranch="matAutocomplete" [displayWith]="displayFnBranchOffices">
                            <mat-option *ngFor="let branch_office of filteredBranchOffices | async" [value]="branch_office">
                                {{ branch_office.name }} - {{ branch_office.nit }}
                            </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="plate" class="form-label">-- {{'Auto-tanque' | translate}}</label>
                        <select id="plate" class="form-select" formControlName="plate">
                            <option value="" disabled selected>{{'Seleccione un auto-tanque' | translate}}</option>
                            <option *ngFor="let propaneTank of propaneTanks" [value]="propaneTank.plate">{{ propaneTank.plate }} - {{propaneTank.capacity}} Kg </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="payment_type" class="form-label">-- {{'Tipo de pago' | translate}}</label>
                        <select id="payment_type" class="form-select" formControlName="payment_type">
                            <option value="" disabled selected>{{'Seleccione una tipo de pago' | translate}}</option>
                            <option *ngFor="let item of payment_type" [value]="item.name">{{ item.name }}
                            </option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="client" class="form-label">-- {{'Cliente' | translate}}</label>
                        <div class="input-group">
                            <input type="text" id="client" class="form-control" formControlName="client" [matAutocomplete]="autoClient" placeholder="{{'Cliente' | translate}}">
                            <mat-autocomplete #autoClient="matAutocomplete" [displayWith]="displayFnClients">
                            <mat-option *ngFor="let client of filteredClients | async" [value]="client">
                                {{ client.firstName }} {{ client.lastName }} - {{ client.cc }}
                            </mat-option>
                            </mat-autocomplete>
                        </div>
                    </div>

                    <div class="mb-3">
                        <label for="operator" class="form-label">-- {{'Operador' | translate}}</label>
                        <select id="operator" class="form-select" formControlName="operator">
                            <option value="" disabled selected>{{'Seleccione un operador' | translate}}</option>
                            <option *ngFor="let operator of operators" [value]="operator.id">{{ operator.firstName }} {{operator.lastName}} - {{operator.idNumber}}</option>
                        </select>
                    </div>

                    <div class="mb-3">
                        <label for="folio" class="form-label">-- {{'Pedido' | translate}}</label>
                        <select id="folio" class="form-select" formControlName="folio">
                            <option value="" disabled selected>{{'Seleccione un pedido' | translate}}</option>
                            <option *ngFor="let order of orders" [value]="order.folio">{{ order.folio }} - {{ order.branch_office.name }} || {{order.create | date: 'medium'}} </option>
                        </select>
                        <label (click)="setPageSizeToTotalOrders()" style="float: right; cursor: pointer;" >{{'Mostrar todo' | translate}}</label>
                    </div>

                    <div class="mb-3">
                        <label for="server" class="form-label">-- {{'Autenticación' | translate}}</label>
                        <div class="input-group">
                            <input [type]="showPassword ? 'text' : 'password'" id="password" class="form-control"
                                formControlName="auth" placeholder="{{'key de autenticación' | translate}}">
                            <button type="button" class="btn btn-outline-secondary" (click)="toggleShowPassword()">
                                <lucide-icon [name]="showPassword ? 'eye-off' : 'eye'"></lucide-icon>
                            </button>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-success m-1" [disabled]="!billForm.valid">{{'Crear Remisión' | translate}}</button>
                    <button (click)="toHome()" class="btn btn-secondary">{{'Cancelar' | translate}}</button>
                </div>
            </div>
        </form>
    </div>
</div>

