.general-container {
    display: flex;
    flex-direction: column;
    max-height: 650px;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;

    &::-webkit-scrollbar {
        display: none;
    }

    .container {
        label {
            //font-weight: bold;
            color: #9c9c9c;
        }

        #client-label:hover {
            font-weight: bold;
            cursor: pointer;
        }

        .form-check-label:hover {
            font-weight: bold;
            cursor: pointer;
        }

        h1 {
            color: #014e87;
            font-weight: bold;
        }

        .search {
            display: inline-block;

            input {
                color: #9c9c9c;
                margin-left: 1.8rem;
            }
        }

        .selector {
            max-height: 200px;
            overflow: overlay;
            padding: 0 1rem 0 1rem;
            scrollbar-width: none;
            -ms-overflow-style: none;
        
            &::-webkit-scrollbar {
                display: none;
            }
        
            .table-bordered {

                label {
                    color: #808080;
                }

                td {
                    vertical-align: middle;
                }

                .custom-header {
                    background-color: #014e87;
                    color: white;
                }

                ul {
                    margin: 0;
                    background-color: transparent !important;

                    li {
                        background-color: transparent !important;
                    }
                }
            }
        }
    }
}

@media (orientation: portrait) {
    .general-container{
        font-size: 11px !important;
    }
}