.general-container {
    display: flex;
    flex-direction: column;

    .container {
        label {
            //font-weight: bold;
            color: #9c9c9c;
        }

        #operator-label:hover {
            font-weight: bold;
            cursor: pointer;
        }

        .form-check-label:hover {
            font-weight: bold;
            cursor: pointer;
        }

        h1 {
            color: #014e87;
            font-weight: bold;
        }
    }
}

@media (orientation: portrait) {
    .general-container{
        font-size: 11px !important;
    }
}