.confirm-dialog {
    text-align: center;
    padding: 20px;

    .mat-dialog-title {
        font-size: 18px;
        font-weight: bold;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;
    }

    .mat-dialog-content {
        padding: 15px 0;

        p{
            font-size: 14px !important;
            color: #929292;
        }
    }

    .primary-button {
        background-color: #007bff;
        color: white;
        border: none;
    }

    .secondary-button {
        background-color: #ccc;
        color: #333;
        border: none;
    }

    button:hover {
        opacity: 0.9;
    }

    .buttons{
        display: flex;
        flex-wrap: wrap;

        .btn{
            flex-grow: 1;
            flex-basis: 200;
            margin: 0.2rem;
        }
    }
}