.container {
    margin-top: 4rem;
    margin-bottom: 5.5rem;

    .title {
        h2 {
            color: #9c9c9c;
            font-weight: bold;
            margin-bottom: 0;
        }

        p {
            font-size: 14px;
            color: #a8a8a8;
            color: #d4d4d4;
            margin-bottom: 2rem;
        }
    }

    .slot {

        .atenea {
            width: 47%;
            cursor: pointer;
        }

        .atenea-text {
            margin-bottom: 0;
            font-weight: bold;
            color: #3C4A56;
        }

        .poseidon {
            width: 47.9%;
            cursor: pointer;
        }

        .poseidon-text {
            margin-bottom: 0;
            font-weight: bold;
            color: #014e87;
        }

        .fenix {
            width: 50%;
            cursor: pointer;
        }

        .hercules {
            width: 47%;
            cursor: pointer;
        }

        .fenix-text {
            margin-bottom: 0;
            font-weight: bold;
            color: #103C5D;
        }

        .poseidon-diesel {
            width: 48%;
            cursor: pointer;
        }

        .poseidon-diesel-text {
            margin-bottom: 0;
            font-weight: bold;
            color: #537d9c;
        }

        lucide-icon {
            cursor: pointer;
        }

    }
}

/* Estilos para ocultar el footer en vista móvil */
@media (max-width: 768px) {
    .container {
        .slot {
            margin-bottom: 2rem;

            .atenea {
                // width: 14%;
                cursor: pointer;
            }

            .poseidon {
                width: 45%;
            }

            .fenix {
                // width: 16%;
                cursor: pointer;
            }

            .hercules {
                // width: 12%;
                cursor: pointer;
            }

            .poseidon-diesel {
                // width: 14%;
                cursor: pointer;
            }

            lucide-icon {
                display: none !important;
            }
        }
    }

    .hide-on-mobile {
        display: none !important;
    }
}