<div class="general-container" *ngIf="data">
    <div class="row d-flex justify-content-center module">

        <div class="px-4 mb-3" id="responsive-container">
            <div id="items" class="mb-3">
                <div class="title display-6">
                    <span class="text1">
                        {{data.courseLog.plate}}
                        <p style="font-size: 20px; color: #9b9b9b; font-weight: 100;">
                            {{data.courseLog.operator}} <br>
                            {{'Ultima actualización' | translate}}: {{data.courseLog.update | date: 'medium'}}
                        </p>
                    </span>
                </div>
            </div>
    
        </div>
        
        <div class="p-4 shadow-sm bg-light rounded mx-auto w-75" id="responsive-container">
            <div id="items">
                <div class="title display-6">
                    <span class="text2">
                        {{'Pedidos' | translate}}: {{data.courseLog.orders.length}} <br>
                        {{'Entregas' | translate}}: {{data.courseLog.charges}} <br>
                        {{'Masa total' | translate}}: {{data.courseLog.delivered_mass}} Kg <br>
                        {{'Volumen total' | translate}}: {{data.courseLog.delivered_volume}} Gl
                    </span>
                </div>
            </div>

            <div id="items">
                <div class="title display-6">
                    <span class="text2">
                        {{'Responsable' | translate}}: <br>
                        {{data.courseLog.creator}}, <br>
                        {{'Programado' | translate}}: {{data.courseLog.scheduling_date}}
                    </span>
                </div>
            </div>

        </div>
    </div>

    <hr class="w-75 mx-auto text-gray">
    
    <div class="row module">
        <div class="title display-6 text-center mb-3">
            <span class="text1">
                {{'Pedidos' | translate}}
            </span>
        </div>

        <div class="px-4" id="responsive-container">
            <div id="items">
                <div class="title display-6">
                    <span class="text3">
                        {{'En curso' | translate}}
                    </span>
                </div>
    
                <div class="row mt-1 table-list" *ngIf="ordersOnCourse.length > 0">
                    <div class="col-md">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="custom-header" id="encabezado">{{'Folio' | translate}}</th>
                                    <th class="custom-header" id="encabezado">{{'Establecimiento' | translate}}</th>
                                    <th class="custom-header" id="encabezado">{{'Nit' | translate}}</th>
                                    <th class="custom-header" id="encabezado">{{'Creación' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                <tr *ngFor="let order of ordersOnCourse">
                                    <td class="custom-td">{{ order.folio }}</td>
                                    <td class="custom-td" title="{{ order.branch_office.name }}">{{ order.branch_office.name | truncate:21}}</td>
                                    <td class="custom-td">{{ order.branch_office.nit}}</td>
                                    <td class="custom-td">{{ order.create | date: 'medium' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
    
            <div id="items">
                <div class="title display-6">
                    <span class="text3">
                        {{'Finalizados' | translate}}
                    </span>
                </div>
    
                <div class="row mt-1 table-list" *ngIf="ordersCompleted.length > 0">
                    <div class="col-md">
                        <table class="table table-striped table-bordered">
                            <thead>
                                <tr>
                                    <th class="custom-header" id="encabezado">{{'Folio' | translate}}</th>
                                    <th class="custom-header" id="encabezado">{{'Establecimiento' | translate}}</th>
                                    <th class="custom-header" id="encabezado">{{'Nit' | translate}}</th>
                                    <th class="custom-header" id="encabezado">{{'Creación' | translate}}</th>
                                </tr>
                            </thead>
                            <tbody id="myTable">
                                <tr *ngFor="let order of ordersCompleted">
                                    <td class="custom-td">{{ order.folio }}</td>
                                    <td class="custom-td" title="{{ order.branch_office.name }}">{{ order.branch_office.name | truncate:21}}</td>
                                    <td class="custom-td">{{ order.branch_office.nit}}</td>
                                    <td class="custom-td">{{ order.create | date: 'medium' }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
    
            </div>
        </div>

    </div>

    <div class="row module d-flex justify-content-center">
        <div class="col-lg-10"></div>
        <div class="col-lg-2" id="responsive-container">
            <button class="btn btn-success" id="items" (click)="downloadData()">
                <lucide-icon name="sheet"></lucide-icon> {{'Descargar' | translate}}
            </button>
        </div>
    </div>
</div>