<div class="desktop w-full flex items-center justify-center p-2 my-2 transition-all duration-300" [ngClass]="{'pl-36': !collapsed }">
   <div class="container max-w-7xl mb-16">
      <div class="bg-white rounded-xl overflow-hidden">
         <!-- Header -->
         <div class="p-6">
            <div class="flex flex-col md:flex-row md:items-center md:justify-between bg-gray-50 p-4 rounded">
               <div>
                  <h2 class="text-2xl font-bold flex items-center gap-2 text-sky-900">
                     <svg xmlns="http://www.w3.org/2000/svg" width="60" height="60" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-square-user-round-icon lucide-square-user-round"><path d="M18 21a6 6 0 0 0-12 0"/><circle cx="12" cy="11" r="4"/><rect width="18" height="18" x="3" y="3" rx="2"/></svg>
                     {{'Importación de Clientes' | translate}}
                  </h2>
                  <p class="text-gray-500 mt-1">
                     {{'Importa clientes desde un archivo csv o xls' | translate}}
                  </p>
               </div>
            </div>
            <!-- Botones modo escritorio -->
            <div class="hidden md:grid grid-cols-1 xl:grid-cols-2 gap-2 py-3">
               <div class="h-11 bg-gray-50 rounded-xl flex gap-2">
                  
               </div>
               <div class="h-11 bg-gray-50 rounded-xl flex gap-2 justify-end">
                  <button class="bg-emerald-600 hover:bg-emerald-700 text-white px-3 py-1 rounded flex items-center gap-1"
                     (click)="confirmDownloadTemplate()">
                     <lucide-icon name="sheet"></lucide-icon>
                     {{'Generar Formato' | translate}}
                  </button>
                  <button class="bg-green-600 hover:bg-green-700 text-white px-3 py-1 rounded flex items-center gap-1"
                     (click)="confirmDownloadConsolidateData()">
                     <lucide-icon name="file-down"></lucide-icon>
                     {{'Exportar datos' | translate}}
                  </button>
                  <button (click)="infoImport()">
                     <lucide-icon name="help-circle" color="#838383" [size]="16" class="cursor-pointer"></lucide-icon>
                  </button>
               </div>
            </div>
            <!-- Botones móviles -->
            <div class="md:hidden grid grid-cols-1 gap-3 py-4 px-2">
               
               <button
                  class="bg-emerald-600 hover:bg-emerald-700 text-white px-4 py-2 rounded text-sm flex items-center justify-center gap-2 w-full"
                  (click)="confirmDownloadTemplate()">
                  <lucide-icon name="sheet"></lucide-icon>
                  {{ 'Generar Formato' | translate }}
               </button>
               <button
                  class="bg-green-600 hover:bg-green-700 text-white px-4 py-2 rounded text-sm flex items-center justify-center gap-2 w-full"
                  (click)="confirmDownloadConsolidateData()">
                  <lucide-icon name="file-down"></lucide-icon>
                  {{ 'Exportar datos' | translate }}
               </button>
               <button
                  class="flex items-center justify-center"
                  (click)="infoImport()">
                  <lucide-icon name="help-circle" color="#838383" [size]="18" class="cursor-pointer"></lucide-icon>
               </button>
            </div>
            <!-- Subir archivo -->
            <div class="text-center my-6">
               <h3 class="text-lg font-semibold">{{'Seleccione un archivo csv o xls' | translate}}</h3>
               <p class="text-xs text-gray-400 mb-2">
                  {{'Tenga en cuenta que el nombre del cargo es un campo estricto por lo que debe ingresar este campo correctamente.' | translate}}
               </p>
               <div class="flex flex-col sm:flex-row items-center justify-center gap-4">
                  <input
                     type="file"
                     (change)="handleFileInput($event)"
                     class="text-sm file:px-3 file:py-1 file:border-0 file:bg-slate-300 file:rounded file:text-gray-700 file:hover:bg-slate-200 file:cursor-pointer"
                     />
                  <button *ngIf="csv.length > 0" class="bg-green-600 flex gap-1 text-white px-4 py-1 rounded hover:bg-green-700"
                  (click)="import()">
                  <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-cloud-upload-icon lucide-cloud-upload"><path d="M12 13v8"/><path d="M4 14.899A7 7 0 1 1 15.71 8h1.79a4.5 4.5 0 0 1 2.5 8.242"/><path d="m8 17 4-4 4 4"/></svg>
                  <span class="py-1">
                     {{'Importar' | translate}}
                  </span>
                  </button>
               </div>
            </div>
            <!-- Filtro de búsqueda -->
            <div *ngIf="csv.length > 0" class="flex justify-center mb-4">
               <div class="w-full max-w-xs sm:max-w-sm md:max-w-md text-center">
                  <input #myInput type="text" placeholder="{{'Buscar...' | translate}}"
                  (input)="initializeSearchFilter()"
                  class="w-full rounded border border-gray-300 px-3 py-2 text-sm focus:outline-none focus:ring-2 focus:ring-sky-300" />
                  <p class="text-xs text-gray-400 mt-1">
                     {{'Para utilizar correctamente el buscador por favor despliegue todos los registros con el paginador' | translate}}
                  </p>
               </div>
            </div>
            <!-- Tabla -->
            <div *ngIf="csv.length > 0" class="overflow-x-auto overflow-y-auto max-w-[90vw] max-h-[70vh] custom-scrollbar">
               <table class="min-w-full divide-y divide-gray-200 text-sm text-left" id="myTable">
                  <thead class="bg-gray-50">
                     <tr>
                        <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">{{'Nombre' | translate}}</th>
                        <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">{{'Apellido' | translate}}</th>
                        <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">{{'Teléfono' | translate}}</th>
                        <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">{{'E-mail' | translate}}</th>
                        <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">{{'N° de identificación' | translate}}</th>
                        <th class="px-6 py-3 text-xs font-medium text-gray-500 uppercase tracking-wider">{{'Ocupación' | translate}}</th>
                     </tr>
                  </thead>
                  <tbody class="bg-white divide-y divide-gray-200">
                     <tr *ngFor="let data of csv.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize)" class="hover:bg-gray-50 transition-colors duration-150">
                        <td class="px-6 py-2 whitespace-nowrap max-w-96 text-sm text-gray-900">{{data.firstName}}</td>
                        <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-900">{{data.lastName}}</td>
                        <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-900">{{data.phone}}</td>
                        <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-900">{{data.email}}</td>
                        <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-900">{{data.cc}}</td>
                        <td class="px-6 py-2 whitespace-nowrap text-sm text-gray-900">{{data.occupation}}</td>
                     </tr>
                  </tbody>
               </table>
            </div>
            <!-- Paginación Angular Material -->
            <div class="mt-4">
               <mat-paginator [length]="csv.length" [pageSizeOptions]="[100, 500, 1000, 2500]" showFirstLastButtons></mat-paginator>
            </div>
         </div>
      </div>
   </div>
</div>