<div class="general-container">
    <div class="container mt-2">
        <form [formGroup]="propaneTruckForm" (ngSubmit)="onSubmit()">
        <div class="row justify-content-center">
            <h1>{{'Registrar Auto Tanque' | translate}}</h1>
            <div class="col-lg-6">
                        <div class="mb-3">
                            <label for="plate" class="form-label">-- {{'Placa del Auto Tanque' | translate}}</label>
                            <input #plateInput (input)="onPlateInputChange()" type="text" inputmode="upperCase"
                                id="plate" class="form-control" formControlName="plate"
                                placeholder="{{'Escriba aquí la placa del Auto Tanque' | translate}}">
                        </div>

                        <div class="mb-3">
                            <label for="capacity" class="form-label">-- {{'Capacidad' | translate}}</label>
                            <input type="number" id="capacity" class="form-control" formControlName="capacity"
                                placeholder="{{'Digite aqui la capacidad del Auto Tanque' | translate}}">
                        </div>

                        <div class="mb-3">
                            <label for="value" class="form-label">-- {{'Porcentaje del factor' | translate}}</label>
                            <input type="number" id="value" class="form-control" formControlName="factor"
                                placeholder="{{'Digite el porcentaje a aplicar' | translate}}">
                        </div>
            </div>

            <div class="col-lg-6">
                <label *ngIf="!multipleSelection" id="operator-label" (click)="toggleMultipleSelection()"style="cursor: pointer">{{'Selección Múltiple' | translate}}</label>
                <label *ngIf="multipleSelection" id="operator-label" (click)="toggleMultipleSelection()"style="cursor: pointer">{{'Selección Unitaria' | translate}}</label>

                <div class="input-group mb-1" *ngIf="operators.length != 0 && multipleSelection">
                    <input class="form-control" #myInput type="text" placeholder="{{'Buscar..' | translate}}"
                    (input)="initializeSearchFilter()">
                    <button type="button" class="btn btn-outline-secondary" (click)="toCreateOperators()">
                        +
                    </button>
                </div>

                <label class="form-label" *ngIf="multipleSelection">-- {{'Operario(s)' | translate}}</label>
                <div class="mb-1 selector" *ngIf="operators.length != 0 && multipleSelection">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th class="custom-header">{{'Nombre' | translate}}</th>
                                <th class="custom-header">{{'Selección' | translate}}</th>
                            </tr>
                        </thead>
                        <tbody id="tableOperators">
                            <tr *ngFor="let operator of operators">
                                <td>
                                    <label class="form-check-label" [for]="operator.id">{{ operator.firstName }}
                                        {{operator.lastName}}</label>
                                </td>
                                <td>
                                    <input type="checkbox" class="form-check-input" [id]="operator.id" [value]="operator.id"
                                    (change)="onOperatorChange(operator)">
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>

                <label *ngIf="!operatorInput && !multipleSelection" id="operator-label" class="form-label" (click)="toggleInputOperator()"style="cursor: pointer"> -- {{'Operador (listado)' | translate}}</label>
                <label *ngIf="operatorInput && !multipleSelection" id="operator-label" class="form-label" (click)="toggleInputOperator()"style="cursor: pointer"> -- {{'Operador (manual)' | translate}}</label>
                <div class="mb-3" *ngIf="!multipleSelection">
                    <div class="input-group" *ngIf="operators.length != 0">
                        <select *ngIf="!operatorInput" id="client" class="form-select" formControlName="operator">
                            <option value="" disabled selected>{{'Seleccione el cliente' | translate}}</option>
                            <option *ngFor="let operator of operators" [value]="operator.id">{{ operator.firstName }}
                                {{operator.lastName}}</option>
                        </select>
                        <input *ngIf="operatorInput" type="text" id="client" class="form-control" formControlName="operator"
                        placeholder="{{'Identificación' | translate}}">
                        <button type="button" class="btn btn-outline-secondary" (click)="toCreateOperators()">
                            +
                        </button>
                    </div>
                </div>

                <div class="mb-1 selector text-center" *ngIf="operators.length == 0">
                    <label>No se han encontrado operadores creados,</label> <br>
                    <label style="cursor: pointer; font-weight: bold;" (click)="toCreateOperators()"> CREAR </label>
                </div>

                <!-- Puedes agregar más campos aquí según los atributos de la entidad Roles -->
                <button type="submit" class="btn btn-success m-1"
                [disabled]="!propaneTruckForm.valid">{{'Registrar Auto Tanque' | translate}}</button>
            </div>
        </div>
    </form>
    </div>
</div>