<div class="general-container">
    <nav class="mt-4">
        <div class="nav nav-tabs" id="nav-tab" role="tablist">
            <button class="nav-link active" id="nav-home-tab" data-bs-toggle="tab" data-bs-target="#nav-home"
                type="button" role="tab" aria-controls="nav-home" aria-selected="true">{{'Panel' | translate}}</button>
            <!-- <button class="nav-link" id="nav-profile-tab" data-bs-toggle="tab" data-bs-target="#nav-profile"
                type="button" role="tab" aria-controls="nav-profile" aria-selected="false">{{'Control/inventario' |
                translate}}</button>
            <button class="nav-link" id="nav-contact-tab" data-bs-toggle="tab" data-bs-target="#nav-contact" type="button" role="tab" aria-controls="nav-contact" aria-selected="false">{{'Reportes' | translate}}</button> -->
        </div>
    </nav>
    <div class="tab-content mt-3" id="nav-tabContent" style="padding-bottom: 100px;">
        <div class="tab-pane fade show active" id="nav-home" role="tabpanel" aria-labelledby="nav-home-tab">
            <div class="row p-3">
                <div class="col-lg-12 d-flex justify-content-between" id="responsive-container">
                    <div class="col-lg-5 p-4 shadow-sm" id="items" *ngFor="let item of data">
                        <h2 class="text-center fw-bold">
                            <label class="text-secondary" *ngIf="item.device.location.parent_id">
                                E.A {{item.device.location.name}} </label>
                            <label class="text-secondary" *ngIf="!item.device.location.parent_id">
                                {{item.device.location.name}} </label><br>
                            <label class="text-secondary">
                                {{'Ultima conexión:' | translate}} {{item.data.create | date:
                                'full'}}
                            </label>
                        </h2>
                        <div class="d-flex justify-content-around">
                            <div class="w-50 text-center">
                                <label class="text-secondary"><b>{{'ID:' | translate}}</b> {{item.device.imei}}</label>
                                <br>
                                <label class="text-secondary" [ngClass]="{'text-success': item.data.RCI == '01', 'text-danger': item.data.RCI != '01'}">
                                    <b>{{ item.data.RCI == '01' ? 'Red contra incendios: Activa' : 'Red contra incendios: Inactiva' | translate }}</b>
                                </label>
                            </div>
                            <div class="w-50 text-center">
                                <label class="text-secondary" *ngIf="item.data.NVIN == '01'" [ngClass]="{'text-success': item.data.NVIN == '01'}">
                                    <b>{{'CARGUE EN PROCESO' | translate}}</b>
                                </label>
                                <br>
                                <label class="text-secondary">
                                    <b *ngIf="item.data.NVIN != '01'">{{'' | translate}}</b>
                                </label>
                                <br>
                                <label class="text-secondary" [ngClass]="{'text-danger': item.data.NVOUT == '01'}">
                                    <b>{{ item.data.NVOUT == '01' ? 'DESCARGUE EN PROCESO' : '' | translate }}</b>
                                </label>
                            </div>
                        </div>

                        <hr class="w-75 mx-auto text-gray">

                        <div class="row d-flex justify-content-between">
                            <div class="tanque-glp mb-2" *ngIf="item.data">
                                <div class="top-container">
                                    <!-- <p class="card-text" *ngIf="sensor.res_data?.senal == '3'">
                                        <lucide-icon name="signal-high" color="#00aa00"></lucide-icon>
                                    </p>
                                    <p class="card-text" *ngIf="sensor.res_data?.senal == '2'">
                                        <lucide-icon name="signal-medium" color="#aa7106"></lucide-icon>
                                    </p>
                                    <p class="card-text" *ngIf="sensor.res_data?.senal == '1'">
                                        <lucide-icon name="signal-low" color="#d82121"></lucide-icon>
                                    </p>
                                    <p class="card-text" *ngIf="sensor.res_data?.senal == 'y'">
                                        <lucide-icon name="signal-zero" color="gray"></lucide-icon>
                                    </p>
                                    <p class="card-text" *ngIf="sensor.res_data?.senal == 0">
                                        <lucide-icon name="signal-zero" color="gray"></lucide-icon>
                                    </p>
                                    <p class="card-text" *ngIf="!sensor.res_data">
                                        <lucide-icon name="signal-zero" color="gray"></lucide-icon>
                                    </p> -->
                                </div>
                                <div class="contenido" 
                                    [ngClass]="{'warning': (item.data?.percent || 0) >= 35 && (item.data?.percent || 0) < 50, 
                                                'error': (item.data?.percent || 0) < 35}" 
                                    [style.--porcentaje]="(item.data?.percent || 0) + '%'">
                                    <span class="porcentaje">{{ item.data?.percent || 0 | number:'1.2-2' }}%</span>
                                </div>
                            </div>

                            <div class="tanque-glp mb-2" *ngIf="!item.data">
                                <p class="card-text">{{'Sin Datos' | translate}}</p>
                            </div>

                            <div class="w-50 p-2 rounded  bg-light shadow-sm d-flex justify-content-center">
                                <div class="w-50">
                                    <h3 class="text-success fw-bold">{{'Variables Tanque E.A' | translate}}</h3>
                                    <label>
                                       <b>{{'Temperatura:' | translate}}</b><br> {{item.data.temperature}} C°
                                    </label><br>
                                    <label>
                                        <b>{{'Presión:' | translate}}</b><br> {{item.data.pressure}} PSI
                                    </label><br>
                                    <label>
                                        <b>{{'Volúmen:' | translate}}</b><br> {{item.data.volume}} GL US
                                    </label><br>
                                    <label>
                                        <b>{{'Masa:' | translate}}</b><br> {{item.data.mass}} Kg
                                    </label><br>
                                    <label>
                                        <b>{{'Densidad:' | translate}}</b><br> {{item.data.density}} g/cm3
                                    </label><br>
                                </div>
                                <!--<div class="w-50">
                                    <h3 class="text-success fw-bold">{{'Aforo' | translate}}</h3>
                                    <label>
                                        <b>{{'Altura:' | translate}}</b><br> {{item.data.level}} mm
                                    </label><br>
                                    <label>
                                        <b>{{'Volúmen:' | translate}}</b><br> {{item.data.volume_lt}} Lts
                                    </label><br>
                                    <label>
                                        <b>{{'Volúmen:' | translate}}</b><br> {{item.data.volume_gl}} GL
                                    </label><br>
                                    <label>
                                        <b>{{'Porcentaje:' | translate}}</b><br> {{item.data.percent}} %
                                    </label>
                                </div>-->
                                <div class="mini-card" [ngClass]="{
                                                                'success': (item.data?.percent / 7) >= 7,
                                                                'warning': (item.data?.percent / 7) >= 5 && (item.data?.percent / 7) < 7, 
                                                                'error': (item.data?.percent / 7) < 5}">
                                    <div class="mini-card-header">
                                        <h4 class="mini-card-title fw-bold">{{'Autonomía de contenido en días' | translate}}</h4>
                                    </div>
                                    <div class="mini-card-body">
                                        <p class="card-text">{{item.data.percent ? (item.data.percent / 7).toFixed(2) : 0}}</p>
                                    </div>
                                    <div class="mini-card-footer">
                                        <button class="btn btn-primary generate-report-btn" (click)="inventoryMethodByIMEI(item)">{{'Cierre de Inventario' | translate}}</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <button class="btn btn-primary generate-general-report-btn" (click)="inventoryMethodGeneral()" >{{'Cierre de Inventario General' | translate}}</button>
        </div>
        <div class="tab-pane fade" id="nav-profile" role="tabpanel" aria-labelledby="nav-profile-tab">
            ...
        </div>
    </div>
</div>