h3 {
    margin: 0 !important;
}

h4 {
    margin: 0 !important;
}

.custom-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
    background: #f1f5f9;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
    background: #cbd5e1;
    border-radius: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb:hover {
    background: #94a3b8;
}

.map-off{
    width: 350px;
    /* Ancho del cuadrado */
    height: 481px;
    /* Alto del cuadrado */
    /* Color inicial */
    background-size: contain;
    /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    animation: colorChangeGreen 1.5s infinite;
    /* Animación infinita */
}

@media (orientation: portrait) {
    #mapContainerLandscape {
        display: none !important;
    }

    .map-off{
        width: 350px;
        /* Ancho del cuadrado */
        height: 400px;
        /* Alto del cuadrado */
        /* Color inicial */
        background-size: contain;
        /* Ajusta la imagen al tamaño del contenedor */
        background-position: center;
        /* Centra la imagen en el contenedor */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        animation: colorChangeGreen 1.5s infinite;
        /* Animación infinita */
    }
}

@media (orientation: landscape) {
    #mapContainerPortrait {
        display: none !important;
    }
}