h3 {
    margin: 0 !important;
}

h4 {
    margin: 0 !important;
}

.map-off{
    width: 350px;
    /* Ancho del cuadrado */
    height: 481px;
    /* Alto del cuadrado */
    /* Color inicial */
    background-size: contain;
    /* Ajusta la imagen al tamaño del contenedor */
    background-position: center;
    /* Centra la imagen en el contenedor */
    background-repeat: no-repeat;
    /* Evita que la imagen se repita */
    animation: colorChangeGreen 1.5s infinite;
    /* Animación infinita */
}

@media (orientation: portrait) {
    #mapContainerLandscape {
        display: none !important;
    }

    .map-off{
        width: 350px;
        /* Ancho del cuadrado */
        height: 400px;
        /* Alto del cuadrado */
        /* Color inicial */
        background-size: contain;
        /* Ajusta la imagen al tamaño del contenedor */
        background-position: center;
        /* Centra la imagen en el contenedor */
        background-repeat: no-repeat;
        /* Evita que la imagen se repita */
        animation: colorChangeGreen 1.5s infinite;
        /* Animación infinita */
    }
}

@media (orientation: landscape) {
    #mapContainerPortrait {
        display: none !important;
    }
}