/* confirm-dialog.component.scss */
.confirm-dialog {
    text-align: center;

    .mat-dialog-title {
        font-size: 18px;
        font-weight: bold;
        padding: 15px 0;
        border-bottom: 1px solid #ccc;
    }

    .mat-dialog-content {
        font-size: 16px;
        padding: 15px 0;
    }

    .mat-dialog-actions {
        display: flex;
        justify-content: space-between;
        align-items: center;
        /* Centrar verticalmente los botones */
        margin-top: 20px;
    }

    button {
        padding: 10px 20px;
        border-radius: 4px;
        cursor: pointer;
        margin: 0 10px;
    }

    .primary-button {
        background-color: #007bff;
        color: white;
        border: none;
    }

    .secondary-button {
        background-color: #ccc;
        color: #333;
        border: none;
    }

    button:hover {
        opacity: 0.9;
    }
}