.general-container {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    margin-top: 2.5rem;

    .container {
        padding-bottom: 100px;

        #responsive-container {
            display: flex;
            flex-wrap: wrap;

            #items {
                flex-grow: 1;
                flex-basis: 200;
                margin: 0.2rem;
            }
        }

        .section1 {
            margin: 0 auto;

            .box1 {
                border: 0.5px dotted #014e87;
                border-radius: 15px;

                .col-md-6 {
                    a {
                        div {
                            border-radius: 15px;
                            -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                            animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                        }
                    }
                }

                .col-md-6:hover {
                    a {
                        div {
                            animation: cards 0.2s ease 0s 1 normal forwards;
                            cursor: pointer;
                        }
                    }
                }

                .title {
                    padding-top: 1rem;
                    background-color: #014e87;
                    color: #ffffff;
                    vertical-align: middle;
                    margin-bottom: 1rem;
                    border-radius: 14px 14px 0 0;

                    h4 {
                        color: #ffffff;
                        font-weight: bold;
                    }
                }

                .subtitle {
                    h3 {
                        font-style: italic;
                        font-size: 12px;
                        margin-bottom: 2.5rem;
                    }
                }
            }

            .box2 {
                border: 0.5px dotted #014e87;
                border-radius: 15px;


                .col-md-12 {
                    overflow-x: auto;
                    overflow-y: auto;
                    max-height: 16rem;
                }

                .title {
                    padding-top: 1rem;
                    background-color: #014e87;
                    color: #ffffff;
                    vertical-align: middle;
                    border-radius: 14px 14px 0 0;

                    h4 {
                        font-weight: bold;
                    }
                }
            }
        }

        .section2 {
            margin: 0 auto !important;

            .box1 {
                border: 0.5px dotted #014e87;
                border-radius: 15px;
                max-height: 24rem;

                .title {
                    padding-top: 1rem;
                    background-color: #014e87;
                    color: #ffffff;
                    vertical-align: middle;
                    border-radius: 14px 14px 0 0;

                    h4 {
                        font-weight: bold;
                    }
                }
            }
        }

        .section3 {
            margin: 1.5rem auto;
            display: flex;

            .card1 {
                background-image: url('../../../assets/images/card1home.png');
                background-size: cover; // Ajusta la imagen de fondo para cubrir todo el div
                background-repeat: no-repeat; // Evita que la imagen de fondo se repita
                height: 6rem;
                width: 21rem;
                margin-right: 1rem;
                border-radius: 10px;
                padding-top: 1.5rem;

                .text1 {
                    font-weight: bold;
                    color: #ffffff;
                    font-size: 18px;
                }

                .text2 {
                    color: #ffffff;
                    font-size: 12px;
                }
            }

            .card2 {
                background-image: url('../../../assets/images/card2home.png');
                background-size: cover; // Ajusta la imagen de fondo para cubrir todo el div
                background-repeat: no-repeat; // Evita que la imagen de fondo se repita
                height: 6rem;
                width: 21rem;
                margin-right: 1rem;
                border-radius: 10px;
                padding-top: 1.5rem;

                .text1 {
                    font-weight: bold;
                    color: #ffffff;
                    font-size: 18px;
                }

                .text2 {
                    color: #ffffff;
                    font-size: 12px;
                }
            }

            .card3 {
                background-image: url('../../../assets/images/card3home.png');
                background-size: cover; // Ajusta la imagen de fondo para cubrir todo el div
                background-repeat: no-repeat; // Evita que la imagen de fondo se repita
                height: 6rem;
                width: 21rem;
                margin-right: 0.4rem;
                border-radius: 10px;
                padding-top: 1.5rem;

                .text1 {
                    font-weight: bold;
                    color: #ffffff;
                    font-size: 18px;
                }

                .text2 {
                    color: #ffffff;
                    font-size: 12px;
                }
            }

            #card:hover {
                animation: cards 0.2s ease 0s 1 normal forwards;
                cursor: pointer;
            }

            @keyframes cards {
                0% {
                    transform: scale(1);
                }

                100% {
                    transform: scale(1.03);
                }
            }


        }

        #responsive-container {
            display: flex;
            flex-wrap: wrap;

            #items {
                flex-grow: 1;
                flex-basis: 200;
                margin: 0.2rem;
            }
        }
    }


}

.nav {
    button {
        color: #014e87 !important;
    }
}

.new-content {
    padding: 1rem !important;

    h1 {
        color: #014e87;
        font-weight: bold;
    }

    .card {
        height: 50px !important;
        width: 98.5% !important;
    }

    .nav {
        button {
            color: #014e87 !important;
            background-color: transparent !important;
        }
    }

    #responsive-container {
        display: flex;
        flex-wrap: wrap;

        #items {
            flex-grow: 1;
            flex-basis: 200;
            margin: 0.2rem;
        }
    }


    ///////////////////////////////////////////////////////

    .card {
        background-color: #fff;
        border-radius: 10px;
        border: none;
        position: relative;
        margin-bottom: 30px;
        height: 180px !important;
        box-shadow: 0 0.46875rem 2.1875rem rgba(90, 97, 105, 0.1), 0 0.9375rem 1.40625rem rgba(90, 97, 105, 0.1), 0 0.25rem 0.53125rem rgba(90, 97, 105, 0.12), 0 0.125rem 0.1875rem rgba(90, 97, 105, 0.1);
    }

    .l-bg-cherry {
        background: linear-gradient(to right, #142938, #014e87) !important;
        color: #fff;
    }

    .l-bg-blue-dark {
        background: linear-gradient(to right, #043b64, #0a92fa) !important;
        color: #fff;
    }

    .l-bg-green-dark {
        background: linear-gradient(to right, #0a3841, #24d0ee) !important;
        color: #fff;
    }

    .l-bg-orange-dark {
        background: linear-gradient(to right, #012c2c, #06ecec) !important;
        color: #fff;
    }

    .card .card-statistic-3 .card-icon-large .fas,
    .card .card-statistic-3 .card-icon-large .far,
    .card .card-statistic-3 .card-icon-large .fab,
    .card .card-statistic-3 .card-icon-large .fal {
        font-size: 110px;
    }

    .card .card-statistic-3 .card-icon {
        text-align: center;
        line-height: 50px;
        margin-left: 15px;
        color: #000;
        position: absolute;
        right: -5px;
        top: 20px;
        opacity: 0.1;
    }

    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }

    .l-bg-green {
        background: linear-gradient(135deg, #23bdb8 0%, #43e794 100%) !important;
        color: #fff;
    }

    .l-bg-orange {
        background: linear-gradient(to right, #f9900e, #ffba56) !important;
        color: #fff;
    }

    .l-bg-cyan {
        background: linear-gradient(135deg, #289cf5, #84c0ec) !important;
        color: #fff;
    }

    .col-md-6 {
        a {
            div {
                border-radius: 15px;
                -webkit-animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
                animation: swing-top-fwd 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            }
        }
    }

    .col-md-6:hover {
        a {
            div {
                animation: cards 0.2s ease 0s 1 normal forwards;
                cursor: pointer;
            }
        }
    }
}


@media (orientation: portrait) {
    .new-content {
        .headerLandscape {
            display: none !important;
        }
    }
}

@media (orientation: landscape) {
    .new-content {
        .headerPortrait {
            display: none !important;
        }
    }
}