.matbutton {
    text-align: left !important;
    color: #8cb6d7 !important;
}

.mat-menu {
    .dropdown-item {
        padding-left: 1rem !important;
    }
}

a {
    cursor: pointer;
    padding-left: 0.5rem !important;
}