<button class="matbutton" mat-button (click)="redirectToHome()">
    {{'Inicio' | translate}}
</button>

<button class="matbutton" mat-button [matMenuTriggerFor]="ctrlAdmn">
    <span>&blacktriangledown;</span>
    <span class="ml-2">{{'Administración' | translate}}</span>
</button>

<button class="matbutton" mat-button [matMenuTriggerFor]="ctrlAccount">
    <span>&blacktriangledown;</span>
    <span class="ml-2">{{'Cuenta' | translate}}</span>
</button>

<mat-menu #ctrlAdmn="matMenu">
    <a (click)="toLocalities()" class="dropdown-item" style="cursor: pointer; padding-left: 1rem; padding-right: 0.5rem;">
        <lucide-icon name="dot" [size]=13></lucide-icon> {{'Localidades' | translate}}
    </a>
</mat-menu>

<mat-menu #ctrlAccount="matMenu">
    <a (click)="toProfile()" class="dropdown-item" style="cursor: pointer; padding-left: 1rem;"><lucide-icon name="user"
            [size]=13></lucide-icon> {{'Perfil' | translate}}</a>
    <!-- <a (click)="toNotifications()" class="dropdown-item" style="cursor: pointer; padding-left: 1rem;"><lucide-icon
            name="bell" [size]=13></lucide-icon> {{'Notificaciones' | translate}}</a> -->
    <a (click)="logout()" class="dropdown-item"
        style="cursor: pointer; padding-left: 1rem; color: #e13411;"><lucide-icon name="log-out"
            [size]=13></lucide-icon> {{'Cerrar sesión' | translate}}</a>
</mat-menu>

<button class="matbutton" mat-button [matMenuTriggerFor]="ctrlConfigLanguage">
    <span>&blacktriangledown;</span>
    <span class="ml-2"><i-lucide [img]="Languages" [size]="12" class="Languages-icon"></i-lucide>
        {{language |
        uppercase}}</span>
</button>

<mat-menu #ctrlConfigLanguage="matMenu" style="display: block;">
    <a class="dropdown-item" style="cursor: pointer; padding-left: 1rem;"
        (click)="switchLanguage('es')">{{'Spanish' | translate}}</a>
    <a class="dropdown-item" style="cursor: pointer; padding-left: 1rem;"
        (click)="switchLanguage('en')">{{'English' | translate}}</a>
    <a class="dropdown-item" style="cursor: pointer; padding-left: 1rem;"
        (click)="switchLanguage('pt')">{{'Portuguese' | translate}}</a>
</mat-menu>
