.shortcut-subsection .col-md-6:hover a div {
    animation: cards 0.2s ease 0s 1 normal forwards;
}

@keyframes cards {
    0% {
        transform: scale(1);
    }
    100% {
        transform: scale(1.05);
    }
}

.general-container {
  .tank-section {
    height: 800px;

    .tank-card-section {
      .tank-list {
        height: 400px;
        max-height: 400px;
        overflow-y: auto;

        /* Firefox */
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */

        &::-webkit-scrollbar {
          display: none;
          /* Safari and Chrome */
        }

      }
    }

    .shortcut-subsection {
      max-height: 275px;
      overflow-y: auto;

      /* Firefox */
      -ms-overflow-style: none;
      /* Internet Explorer 10+ */

      &::-webkit-scrollbar {
        display: none;
        /* Safari and Chrome */
      }

    }
  }

  .event-section {
    height: 700px;

    .event-routes-section {
      height: 250;

      .events {
        max-height: 200px;
        overflow-y: auto;
        /* Firefox */
        -ms-overflow-style: none;
        /* Internet Explorer 10+ */

        &::-webkit-scrollbar {
          display: none;
          /* Safari and Chrome */
        }

        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2 columnas de igual ancho */
        grid-template-rows: repeat(2, auto);
        /* 2 filas automáticas */
        gap: 0.5rem;
        /* Espaciado entre los elementos */

        .event-card {
          margin: 0.2rem;
          /* Espaciado interno opcional */
        }
      }

    }

    // .map-subsection {
    //   height: 548px;
    // }
  }
}

@media (orientation: portrait) {
  #responsive-container {
    display: flex;
    flex-wrap: wrap;

    #items {
      flex-grow: 1;
      flex-basis: 200;
      margin: 0.2rem;
    }
  }
}

@media (orientation: landscape) {

}