<div class="h-full flex">
    <!-- Sidebar -->
    <aside [class.w-80]="!sidebarCollapsed" [class.w-20]="sidebarCollapsed" [class.pl-6]="!sidebarCollapsed"
        class="hidden md:flex flex-col h-screen bg-sky-900 text-white shadow-lg fixed left-0 top-0 z-40 transition-all duration-300">
        <!-- Logo y nombre del sistema -->
        <div class="flex items-center py-6 cursor-pointer"
            (click)="isLogged ? redirectToHome() : redirectToLandingPage()">
            <img [src]="isLogged ? logoSrc : 'assets/images/logonav.png'" class="w-14 h-14 mr-2 object-contain transition-all duration-300" [class.ml-3]="sidebarCollapsed" />
            <h1 class="text-white font-bold m-0 transition-all duration-300" [class.hidden]="sidebarCollapsed">
                <span class="text-slate-400">SIMER</span>ELECTRONIC
            </h1>
        </div>

        <!-- Botón para colapsar/expandir -->
        <button (click)="toggleSidebar()"
            class="absolute top-96 right-1 bg-sky-800 hover:bg-sky-700 rounded-full p-1 transition">
            <svg *ngIf="!sidebarCollapsed" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M15 19l-7-7 7-7" />
            </svg>
            <svg *ngIf="sidebarCollapsed" xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" fill="none"
                viewBox="0 0 24 24" stroke="currentColor">
                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M9 5l7 7-7 7" />
            </svg>
        </button>

        <div class="flex-1 flex flex-col gap-2 px-2">
            <!-- Menú para usuarios logueados -->
            <ng-container *ngIf="isLogged">
                <app-menu-poseidon *ngIf="system === 'Poseidon'"></app-menu-poseidon>
                <app-menu-hercules *ngIf="system === 'Hercules'"></app-menu-hercules>
            </ng-container>
            <!-- Menú para usuarios no logueados -->
            <ng-container *ngIf="!isLogged">
                <button class="w-full text-left px-4 py-2 rounded hover:bg-sky-800 transition font-normal"
                    (click)="redirectToLandingPage()">
                    <span [class.hidden]="sidebarCollapsed">
                        {{'Inicio' | translate}}
                    </span>
                    <div [class.hidden]="!sidebarCollapsed">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="m2.25 12 8.954-8.955c.44-.439 1.152-.439 1.591 0L21.75 12M4.5 9.75v10.125c0 .621.504 1.125 1.125 1.125H9.75v-4.875c0-.621.504-1.125 1.125-1.125h2.25c.621 0 1.125.504 1.125 1.125V21h4.125c.621 0 1.125-.504 1.125-1.125V9.75M8.25 21h8.25" />
                        </svg>
                    </div>
                </button>
                <button class="w-full text-left px-4 py-2 rounded hover:bg-sky-800 transition font-normal"
                    (click)="toUs()">
                    <span [class.hidden]="sidebarCollapsed">
                        {{'Nosotros' | translate}}
                    </span>
                    <div [class.hidden]="!sidebarCollapsed">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M15 19.128a9.38 9.38 0 0 0 2.625.372 9.337 9.337 0 0 0 4.121-.952 4.125 4.125 0 0 0-7.533-2.493M15 19.128v-.003c0-1.113-.285-2.16-.786-3.07M15 19.128v.106A12.318 12.318 0 0 1 8.624 21c-2.331 0-4.512-.645-6.374-1.766l-.001-.109a6.375 6.375 0 0 1 11.964-3.07M12 6.375a3.375 3.375 0 1 1-6.75 0 3.375 3.375 0 0 1 6.75 0Zm8.25 2.25a2.625 2.625 0 1 1-5.25 0 2.625 2.625 0 0 1 5.25 0Z" />
                        </svg>
                    </div>
                </button>
                <button class="w-full text-left px-4 py-2 rounded hover:bg-sky-800 transition font-normal"
                    (click)="toLegalWarning()">
                    <span [class.hidden]="sidebarCollapsed">
                        {{'Aviso legal' | translate}}
                    </span>
                    <div [class.hidden]="!sidebarCollapsed">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M19.5 14.25v-2.625a3.375 3.375 0 0 0-3.375-3.375h-1.5A1.125 1.125 0 0 1 13.5 7.125v-1.5a3.375 3.375 0 0 0-3.375-3.375H8.25m0 12.75h7.5m-7.5 3H12M10.5 2.25H5.625c-.621 0-1.125.504-1.125 1.125v17.25c0 .621.504 1.125 1.125 1.125h12.75c.621 0 1.125-.504 1.125-1.125V11.25a9 9 0 0 0-9-9Z" />
                        </svg>
                    </div>
                </button>
                <button class="w-full text-left px-4 py-2 rounded hover:bg-sky-800 transition font-normal"
                    (click)="toContact()">
                    <span [class.hidden]="sidebarCollapsed">
                        {{'Contacto' | translate}}
                    </span>
                    <div [class.hidden]="!sidebarCollapsed">
                        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"
                            stroke="currentColor" class="size-6">
                            <path stroke-linecap="round" stroke-linejoin="round"
                                d="M21.75 6.75v10.5a2.25 2.25 0 0 1-2.25 2.25h-15a2.25 2.25 0 0 1-2.25-2.25V6.75m19.5 0A2.25 2.25 0 0 0 19.5 4.5h-15a2.25 2.25 0 0 0-2.25 2.25m19.5 0v.243a2.25 2.25 0 0 1-1.07 1.916l-7.5 4.615a2.25 2.25 0 0 1-2.36 0L3.32 8.91a2.25 2.25 0 0 1-1.07-1.916V6.75" />
                        </svg>
                    </div>
                </button>
                <!-- Idioma -->
                <div class="relative mt-2">
                    <button (click)="toggleDropdown()" [class.w-46]="!sidebarCollapsed"
                        class="inline-flex items-center px-3 py-2 text-sm font-normal text-blue-900 bg-sky-200 rounded-lg hover:bg-sky-300 focus:ring-4 focus:outline-none focus:ring-sky-100 dark:bg-sky-700 dark:hover:bg-sky-600 dark:text-gray-200 dark:focus:ring-sky-700">
                        <i-lucide [img]="Languages" [size]="12" class="mr-1"></i-lucide>
                        <span [class.hidden]="sidebarCollapsed">
                            {{language | uppercase}}
                        </span>
                        <svg class="w-2.5 h-2.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
                            viewBox="0 0 10 6">
                            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
                                d="m1 1 4 4 4-4" />
                        </svg>
                    </button>
                    <div *ngIf="dropdownOpen"
                        class="absolute left-0 top-full mt-1 w-44 bg-white divide-y divide-sky-100 rounded-lg shadow-sm z-50 dark:bg-sky-700">
                        <ul class="py-2 text-sm text-sky-700 dark:text-sky-200">
                            <li>
                                <a class="block cursor-pointer pl-4 py-1 hover:text-pink-400"
                                    (click)="switchLanguage('es'); dropdownOpen = false">
                                    {{'Spanish' | translate}}
                                </a>
                            </li>
                            <li>
                                <a class="block cursor-pointer pl-4 py-1 hover:text-pink-400"
                                    (click)="switchLanguage('en'); dropdownOpen = false">
                                    {{'English' | translate}}
                                </a>
                            </li>
                            <li>
                                <a class="block cursor-pointer pl-4 py-1 hover:text-pink-400"
                                    (click)="switchLanguage('pt'); dropdownOpen = false">
                                    {{'Portuguese' | translate}}
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </ng-container>
        </div>
    </aside>

    <!-- Topbar para móvil -->
    <div class="md:hidden fixed top-0 left-0 z-50">
        <mat-toolbar style="position: fixed; top: 0; left: 0; width: 100%; z-index: 1000;"
            [ngStyle]="{'background-color': getMenuColor()}"
            class="text-white shadow-md min-h-[4.5rem] h-[5.5rem] pt-2 transition-colors duration-300">
            <mat-toolbar-row class="w-full flex flex-wrap items-center">
                <div class="w-1/6 sm:w-1/5">
                    <button *ngIf="isMobile" (click)="sidenav.toggle()" (click)="toggleSidebar()"
                        class="hover:text-pink-400 transition-colors duration-300">
                        <mat-icon class="text-white">menu</mat-icon>
                    </button>
                </div>
                <div class="w-2/5 text-xl cursor-pointer flex items-center"
                    (click)="isLogged ? redirectToHome() : redirectToLandingPage()">
                    <img [src]="isLogged ? logoSrc : 'assets/images/logonav.png'" class="w-16 mr-4" />
                    <h1 class="text-white font-bold">
                        <span class="text-slate-400">SIMER</span>ELECTRONIC
                    </h1>
                </div>
            </mat-toolbar-row>
        </mat-toolbar>
        <!-- Sidenav móvil -->
        <mat-sidenav-container class="bg-transparent">
            <mat-sidenav #sidenav mode="over" class="bg-sky-900 text-white w-[270px]"
                style="position: fixed; left: 0; top: 0; height: 100vh; padding-top: 6.5rem; z-index: 999; background-color: #014e87 !important;">
                <div class="flex flex-col gap-2 px-2">
                    <ng-container *ngIf="isLogged">
                        <app-menu-poseidon *ngIf="system === 'Poseidon'"></app-menu-poseidon>
                        <app-menu-hercules *ngIf="system === 'Hercules'"></app-menu-hercules>
                    </ng-container>
                    <ng-container *ngIf="!isLogged">
                        <button class="w-full text-left px-4 py-2 rounded hover:bg-sky-800 transition font-normal"
                            (click)="redirectToLandingPage()">
                            {{'Inicio' | translate}}
                        </button>
                        <button class="w-full text-left px-4 py-2 rounded hover:bg-sky-800 transition font-normal"
                            (click)="toUs()">
                            {{'Nosotros' | translate}}
                        </button>
                        <button class="w-full text-left px-4 py-2 rounded hover:bg-sky-800 transition font-normal"
                            (click)="toLegalWarning()">
                            {{'Aviso legal' | translate}}
                        </button>
                        <button class="w-full text-left px-4 py-2 rounded hover:bg-sky-800 transition font-normal"
                            (click)="toContact()">
                            {{'Contacto' | translate}}
                        </button>
                        <!-- Idioma -->
                        <div class="relative mt-2">
                            <button (click)="toggleDropdown()"
                                class="w-2/3 inline-flex items-center px-3 py-2 text-sm font-normal text-blue-900 bg-sky-200 rounded-lg hover:bg-sky-300 focus:ring-4 focus:outline-none focus:ring-sky-100 dark:bg-sky-700 dark:hover:bg-sky-600 dark:text-gray-200 dark:focus:ring-sky-700">
                                <i-lucide [img]="Languages" [size]="12" class="mr-1"></i-lucide>
                                {{language | uppercase}}
                                <svg class="w-2.5 h-2.5 ml-2" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                    fill="none" viewBox="0 0 10 6">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"
                                        stroke-width="2" d="m1 1 4 4 4-4" />
                                </svg>
                            </button>
                            <div *ngIf="dropdownOpen"
                                class="absolute left-0 top-full mt-1 w-44 bg-white divide-y divide-sky-100 rounded-lg shadow-sm z-50 dark:bg-sky-700">
                                <ul class="py-2 text-sm text-sky-700 dark:text-sky-200">
                                    <li>
                                        <a class="block cursor-pointer pl-4 py-1 hover:text-pink-400"
                                            (click)="switchLanguage('es'); dropdownOpen = false">
                                            {{'Spanish' | translate}}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block cursor-pointer pl-4 py-1 hover:text-pink-400"
                                            (click)="switchLanguage('en'); dropdownOpen = false">
                                            {{'English' | translate}}
                                        </a>
                                    </li>
                                    <li>
                                        <a class="block cursor-pointer pl-4 py-1 hover:text-pink-400"
                                            (click)="switchLanguage('pt'); dropdownOpen = false">
                                            {{'Portuguese' | translate}}
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </ng-container>
                </div>
            </mat-sidenav>
        </mat-sidenav-container>
    </div>

    <!-- Contenido principal SIEMPRE visible -->
    <div class="flex-1 md:ml-14 pt-[6rem] pb-[6rem] md:pt-0 md:pb-0 transition-all duration-300" [class.pl-36]="!sidebarCollapsed">
        <router-outlet></router-outlet>
    </div>
    <app-footer-lite class="fixed bottom-0 w-full"></app-footer-lite>
</div>