<div class="general-container">
    <div class="container">

        <div class="row request d-flex justify-content-center mb-2" *ngIf="request">
            <p class="m-0" style="color: #9e9e9e; font-size: 12px;"> {{request.data_series.fechaInicial }}</p>
            <h1 class="m-0"> {{request.branch_office.name}}</h1>
            <p class="m-0"> {{'N° Servicio' | translate}}: {{request.internal_folio}} </p>
            <div class="col-lg-10 request d-flex">

                <div class="col-md-5 d-flex">
                    <div class="row">
                        <div class="col-md-12">
                            <div class="row d-flex">
                                <div class="col-sm-6">
                                    <h3>
                                        {{'Responsable' | translate}}:
                                    </h3>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-0 text-bold">
                                        {{ request.operator.firstName }}
                                        {{ request.operator.lastName }}
                                    </p>
                                    <p style="color: #9e9e9e; font-size: 12px;">
                                        {{ request.plate }}
                                    </p>
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-sm-6">
                                    <h3>
                                        {{'Pedido' | translate}}:
                                    </h3>
                                </div>
                                <div class="col-sm-6">
                                    <p class="m-0">
                                        {{'N° de folio' | translate}}: {{ request.folio }}
                                    </p>
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-sm-6">
                                    <h3>
                                        {{'Tipo de pago' | translate}}:
                                    </h3>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        {{ request.payment_type }}
                                    </p>
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-sm-6">
                                    <h3>
                                        {{'Tiempo de servicio' | translate}}:
                                    </h3>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        {{ request.data_series.service_time }}
                                    </p>
                                </div>
                            </div>
                            <div class="row d-flex">
                                <div class="col-sm-6">
                                    <h3>
                                        {{'Fecha de pedido' | translate}}:
                                    </h3>
                                </div>
                                <div class="col-sm-6">
                                    <p>
                                        {{ request.order.create | date: 'medium' }}
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-5">
                    <div class="row d-flex">
                        <div class="col-sm-6">
                            <h3>
                                {{'GLP entregado' | translate}}:
                            </h3>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                {{ request.data_series.masaTotal | number:'1.2-2' }} Kg
                            </p>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-sm-6">
                            <h3>
                                {{'Dirección' | translate}}:
                            </h3>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                {{ request.branch_office.address}} Kg
                            </p>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-sm-6">
                            <h3>
                                {{'Valor por Kg' | translate}}:
                            </h3>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                {{ request.branch_office.kilogramValue | currency:currencyCode:'symbol':'1.0-0' }}
                            </p>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-sm-6">
                            <h3>
                                {{'Geocerca' | translate}}:
                            </h3>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                {{validate_geofence()}}
                            </p>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-sm-6">
                            <h3>
                                {{'Token' | translate}}:
                            </h3>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                {{validate_token()}}
                            </p>
                        </div>
                    </div>
                    <div class="row d-flex">
                        <div class="col-sm-6">
                            <h3>
                                {{'Total' | translate}}:
                            </h3>
                        </div>
                        <div class="col-sm-6">
                            <p>
                                {{ request.data_series.total | currency:currencyCode:'symbol':'1.0-0' }}
                            </p>
                        </div>
                    </div>
                </div>

            </div>
        </div>

        <div class="row d-flex buttons-group-landscape">
            <div class="col-sm-8"></div>
            <div class="col-sm-2 float-end">
                <button (click)="exportToExcel()" class="btn btn-success d-flex">
                    <lucide-icon name="sheet" [size]="20" style="margin-right: 5px;"></lucide-icon>
                    {{'Descargar' | translate}}
                </button>
            </div>
            <div class="col-sm-1 float-end">
                <button (click)="findBillByFolio()" class="btn btn-info">{{'Remisión' | translate}}</button>
            </div>
            <div class="col-sm-1 float-end">
                <button (click)="toRequest()" class="btn btn-secondary">{{'Volver' | translate}}</button>
            </div>
        </div>

        <div class="buttons-group-portrait">
            <button (click)="toRequest()" class="btn btn-secondary">{{'Volver' | translate}}</button>
            <button (click)="exportToExcel()" class="btn btn-success d-flex">
                <lucide-icon name="sheet" [size]="20" style="margin-right: 5px;"></lucide-icon>
                {{'Descargar' | translate}}
            </button>
            <button (click)="findBillByFolio()" class="btn btn-info">{{'Remisión' | translate}}</button>
        </div>

    </div>
    <app-footer class="hide-on-mobile"></app-footer>
</div>