.general-container {
    display: flex;
    flex-direction: column;
    min-height: 70vh;

    margin-top: 3rem;

    .container {

        padding-bottom: 100px;

        h1 {
            color: #014e87;
            font-weight: bold;
            margin: 0;
        }

        .request {
            border: 1px dashed #8d8d8d;
            padding: 3%;
            border-radius: 10px;
            margin-top: 3%;
            background-color: rgba($color: #014e87, $alpha: 0.03);

            .title {
                color: #8d8d8d;
                font-weight: bold;
                margin: 0;
            }

            .date {
                color: #8d8d8d;
                font-weight: bold;
            }
        }
    }

}

@media (orientation: portrait) {
    .general-container {
        .container {

            .search-filter {
                width: 75%;
                margin: 0 auto;
                margin-bottom: 2rem;
                font-size: 11px !important;

                input{
                    font-size: 11px !important;
                }
            }

            .header-mobile {
                color: #014e87 !important;
                margin-bottom: 2rem;
            }

            .header {
                display: none !important;
            }

            .btn {
                font-size: 12px !important;
            }

            .buttons-group-landscape {
                display: none !important;
            }

            .table-list {
                overflow-x: auto;
                max-height: 500px;
                max-width: 103%;
                scrollbar-width: none; /* Firefox */
                -ms-overflow-style: none; /* Internet Explorer 10+ */
            
                &::-webkit-scrollbar {
                    display: none; /* Safari and Chrome */
                }

                td {
                    font-size: 11px !important;
                }

                th {
                    font-size: 11px !important;
                }

                span{
                    font-size: 11px !important;
                }

                .btn{
                    font-size: 11px !important;
                }

                #orders {
                    display: none !important;
                }

                #buttons-table {
                    flex-wrap: wrap;

                    .btn {
                        flex-grow: 1;
                        flex-basis: 200;
                        margin: 0.2rem;
                    }
                }

                .paginator-top{
                    display: none !important;
                }
            }

            .buttons-group-portrait {
                display: flex;
                flex-wrap: wrap;

                .btn {
                    flex-grow: 1;
                    flex-basis: 200;
                    margin: 0.2rem;
                }
            }
        }

        mat-paginator{
            font-size: 11px !important;
        }
    }

    .hide-on-mobile {
        display: none !important;
    }
}

@media (orientation: landscape) {
    .general-container {
        .container {
            .header-mobile {
                display: none !important;
            }

            .text-length {
                display: none !important;
            }

            .buttons-group-portrait {
                display: none !important;
            }

            .table-list {
                overflow-x: auto;

                #buttons-table {
                    .btn {
                        margin: 0.2rem;
                    }
                }
            }
        }
    }
}