.general-container {
    display: flex;
    flex-direction: column;

    .container {
        .text-success {
            margin: 0;
            font-size: 12px;
            text-align: right;
        }

        mat-accordion {
            max-height: 460px;
            overflow-y: auto;

            mat-expansion-panel {

                mat-expansion-panel-header {
                    mat-panel-title {
                        display: inline-flex !important;
                        vertical-align: center !important;

                        p {
                            width: 10rem !important;
                            vertical-align: center !important;
                            margin-bottom: 0;
                            color: #4e4e4e;

                        }
                    }

                    .panel-description {
                        mat-expansion-panel-header-description {
                            flex-grow: none !important;
                        }



                    }
                }
            }
        }


        h2 {
            color: #014e87;
            font-weight: bold;
            font-size: 26px;
            margin: 0;
        }

        .label {
            //font-weight: bold;
            color: #9c9c9c;
            font-size: 12px;
            margin-bottom: 0;
        }

    }
}

@media (orientation: portrait) {
    .general-container {
        display: none !important;
    }

    .general-container-mobile {
        max-height: 550px;
        overflow-y: auto;
        font-size: 11px !important;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    
        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }

        mat-accordion {
            max-height: 200px;
            overflow-y: auto;
            scrollbar-width: none; /* Firefox */
            -ms-overflow-style: none; /* Internet Explorer 10+ */
        
            &::-webkit-scrollbar {
                display: none; /* Safari and Chrome */
            }

            mat-expansion-panel {

                mat-expansion-panel-header {
                    mat-panel-title {
                        display: inline-flex !important;
                        vertical-align: center !important;

                        p {
                            width: 10rem !important;
                            vertical-align: center !important;
                            margin-bottom: 0;
                            color: #4e4e4e;

                        }
                    }

                    .panel-description {
                        mat-expansion-panel-header-description {
                            flex-grow: none !important;
                        }

                    }
                }
            }
        }

        h2 {
            color: #014e87;
            font-weight: bold;
            font-size: 26px;
            margin: 0;
        }

        .label {
            //font-weight: bold;
            color: #9c9c9c;
            font-size: 11px;
            margin-bottom: 0;
        }

        .buttons{
            display: flex;
            flex-wrap: wrap;

            .btn {
                flex-grow: 1;
                flex-basis: 200;
                font-size: 11px !important;
                margin: 0.2rem;
            }
        }
    }
}

@media (orientation: landscape) {
    .general-container-mobile {
        display: none !important;
    }
}