<div class="general-container">
    <div class="container mt-2">
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h1>{{'Registro de derrotero' | translate}}</h1>
                    <div class="col-12 mt-4">

                        <div class="mb-3">
                            <label for="propane_truck" class="form-label">-- {{'Auto Tanque' | translate}}</label>
                            <div class="input-group">
                                <input type="text" id="propane_truck" class="form-control" formControlName="propane_truck" [matAutocomplete]="auto" placeholder="{{ visualForm.value.propane_truck }}">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onPropaneTruckSelected($event)">
                                    <mat-option *ngFor="let propaneTruck of filteredpropaneTrucks | async" [value]="propaneTruck">
                                        {{ propaneTruck.plate }}
                                    </mat-option>
                                </mat-autocomplete>
                                <button type="button" class="btn btn-outline-secondary" (click)="toCreatePropaneTrucks()">
                                    +
                                </button>
                            </div>
                        </div>

                        <div class="mb-3" *ngIf="operators.length > 1">
                            <label for="department" class="form-label">-- {{'Operario' | translate}}</label>
                            <div class="input-group">
                                <select id="department" class="form-select" formControlName="operator_id" (change)="onOperatorSelectionChange($event)">
                                    <option value="" disabled selected>{{'Seleccione un operario' | translate}}</option>
                                    <option *ngFor="let operator of operators" [value]="operator.idNumber">
                                        {{ operator.firstName }} {{ operator.lastName }}
                                    </option>
                                </select>
                                <button type="button" class="btn btn-outline-secondary" (click)="toCreateUser()">
                                    +
                                </button>
                            </div>
                        </div>

                        <div class="row mb-2 search">
                            <label for="orders" class="form-label">-- {{'Pedidos' | translate}}</label>
                            <div class="input-group">
                                <input class="form-control" #myInput type="text" placeholder="{{'Buscar..' | translate}}"
                                (input)="initializeSearchFilter()">
                                <button type="button" class="btn btn-outline-secondary" (click)="toCreateOrders()">
                                    +
                                </button>
                            </div>
                        </div>

                        <div class="mb-3 selector">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="custom-header">{{'Folio' | translate}}</th>
                                        <th class="custom-header">{{'Establecimiento' | translate}}</th>
                                        <th class="custom-header">{{'Fecha' | translate}}</th>
                                        <th class="custom-header">{{'Tipo pago' | translate}}</th>
                                        <th class="custom-header">{{'Estado' | translate}}</th>
                                        <th class="custom-header">{{'Selección' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable">
                                    <tr *ngFor="let order of orders">
                                        <td>
                                            <label class="form-check-label" [for]="order.id">{{
                                                order.folio }}</label>
                                        </td>
                                        <td>
                                            <label class="form-check-label" [for]="order.id">
                                                {{ order.branch_office.name }}
                                            </label>
                                        </td>
                                        <td>
                                            <label class="form-check-label" [for]="order.id">
                                                {{ order.create | date: 'dd - MMMM - y H:mm' }}
                                            </label>
                                        </td>
                                        <td>
                                            <label class="form-check-label" [for]="order.id">
                                                {{ order.payment_type }}
                                            </label>
                                        </td>
                                        <td>
                                            <label class="form-check-label" [for]="order.state">
                                                {{ order.state }}
                                            </label>
                                        </td>
                                        <td>
                                            <input type="checkbox" class="form-check-input" [id]="order.id"
                                                [value]="order.id" (change)="onOrderChange(order)">
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <label for="info" class="form-label">-- {{'Fecha de programación' | translate}}:</label>
                        <div class="col-md-4 date-picker">
                            <mat-form-field color="accent" class="calendar">
                                <mat-label>{{'Fecha' | translate}}</mat-label>
                                <input matInput [matDatepicker]="campaignOnePicker" placeholder="{{ visualForm.value.fecha }}" formControlName="fecha" />
                                <mat-datepicker-toggle [for]="campaignOnePicker" matIconSuffix></mat-datepicker-toggle>
                                <mat-datepicker #campaignOnePicker></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <button type="submit" class="btn btn-success">{{'Registrar' | translate}}</button>
                    </div>
                </div>

                <div class="col-lg-6 p-4 aditional-info">
                    <label style="font-weight: bold; font-size: 18px;">--Derrotero--</label>
                    <br>
                    <br>
                    <div class="mb-3">
                            <label for="" style="font-size: 16px;">{{'Vehículo' | translate}}: <br> {{visualForm.value.propane_truck}} - {{'Operario' | translate}}: {{visualForm.value.operator}}</label> <br><br>
                            <label for="" style="font-size: 16px;">{{'Pedidos' | translate}}:</label> 
                            <ul class="m-0" *ngFor="let orders of visualForm.value.orders">
                                <li class="list-group-item m-0"><label for="" style="font-size: 16px;">{{orders}}</label></li>
                            </ul>
                            <br>
                            <label for="" style="font-size: 16px;">{{'Fecha de programación' | translate}}: <br> {{courseForm.value.fecha | date: 'fullDate'}}</label> <br> <br>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<div class="general-container-mobile">
    <div class="container mt-2">
        <form [formGroup]="courseForm" (ngSubmit)="onSubmit()">
            <div class="row justify-content-center">
                <div class="col-lg-6">
                    <h1>{{'Registro de derrotero' | translate}}</h1>
                    <div class="col-12 mt-4">

                        <div class="mb-3">
                            <label for="propane_truck" class="form-label">-- {{'Auto Tanque' | translate}}</label>
                            <div class="input-group">
                                <input type="text" id="propane_truck" class="form-control" formControlName="propane_truck" [matAutocomplete]="auto" placeholder="{{visualForm.value.propane_truck}}" style="font-size: 11px !important;">
                                <mat-autocomplete #auto="matAutocomplete" [displayWith]="displayFn" (optionSelected)="onPropaneTruckSelected($event)" style="font-size: 11px !important;">
                                    <mat-option *ngFor="let propaneTruck of filteredpropaneTrucks | async" [value]="propaneTruck" style="font-size: 11px !important;">
                                        {{ propaneTruck.plate }}
                                    </mat-option>
                                </mat-autocomplete>
                                <button type="button" class="btn btn-outline-secondary" (click)="toCreatePropaneTrucks()">
                                    +
                                </button>
                            </div>
                        </div>

                        <div class="mb-3" *ngIf="operators.length > 1">
                            <label for="department" class="form-label">-- {{'Operario' | translate}}</label>
                            <div class="input-group">
                                <select id="department" class="form-select" formControlName="operator_id" (change)="onOperatorSelectionChange($event)">
                                    <option value="" disabled selected style="font-size: 11px !important;" style="font-size: 11px !important;">{{'Seleccione un operario' | translate}}</option>
                                    <option *ngFor="let operator of operators" [value]="operator.idNumber" style="font-size: 11px !important;">
                                        {{ operator.firstName }} {{ operator.lastName }}
                                    </option>
                                </select>
                                <button type="button" class="btn btn-outline-secondary" (click)="toCreateUser()">
                                    +
                                </button>
                            </div>
                        </div>

                        <div class="row mb-2 search" style="font-size: 11px !important;">
                            <label for="orders" class="form-label">-- {{'Pedidos' | translate}}</label>
                            <div class="input-group">
                                <input class="form-control" #myInput2 type="text" placeholder="{{'Buscar..' | translate}}"
                                (input)="initializeSearchFilter2()" style="font-size: 11px !important;">
                                <button type="button" class="btn btn-outline-secondary" (click)="toCreateOrders()">
                                    +
                                </button>
                            </div>
                        </div>

                        <div class="mb-3 selector">
                            <table class="table table-bordered">
                                <thead>
                                    <tr>
                                        <th class="custom-header">{{'Selección' | translate}}</th>
                                        <th class="custom-header">{{'Folio' | translate}}</th>
                                        <th class="custom-header">{{'Establecimiento' | translate}}</th>
                                        <th class="custom-header">{{'Fecha' | translate}}</th>
                                        <th class="custom-header">{{'Tipo pago' | translate}}</th>
                                    </tr>
                                </thead>
                                <tbody id="myTable2">
                                    <tr *ngFor="let order of orders">
                                        <td>
                                            <input type="checkbox" class="form-check-input" [id]="order.id"
                                                [value]="order.id" (change)="onOrderChange(order)">
                                        </td>
                                        <td>
                                            <label class="form-check-label" [for]="order.id">{{
                                                order.folio }}</label>
                                        </td>
                                        <td>
                                            <label class="form-check-label" [for]="order.id">
                                                {{ order.branch_office.name }}
                                            </label>
                                        </td>
                                        <td>
                                            <label class="form-check-label" [for]="order.id">
                                                {{ order.create | date: 'dd - MMMM - y H:mm' }}
                                            </label>
                                        </td>
                                        <td>
                                            <label class="form-check-label" [for]="order.id">
                                                {{ order.payment_type }}
                                            </label>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>

                        <label for="info" class="form-label">-- {{'Fecha de programación' | translate}}:</label>
                        <div class="col-md-4 date-picker" style="font-size: 11px !important;">
                            <mat-form-field color="accent" class="calendar">
                                <mat-label style="font-size: 11px !important;">{{'Fecha' | translate}}</mat-label>
                                <input matInput [matDatepicker]="campaignOnePicker" placeholder="{{ visualForm.value.fecha }}" formControlName="fecha" style="font-size: 11px !important;" />
                                <mat-datepicker-toggle [for]="campaignOnePicker" matIconSuffix style="font-size: 11px !important;"></mat-datepicker-toggle>
                                <mat-datepicker #campaignOnePicker style="font-size: 11px !important;"></mat-datepicker>
                            </mat-form-field>
                        </div>

                        <div class="col-lg-6 p-4 aditional-info">
                            <label style="font-weight: bold; font-size: 11px;">--Derrotero--</label>
                            <br>
                            <br>
                            <div class="mb-3">
                                    <label for="" style="font-size: 11px;">{{'Vehículo' | translate}}: <br> {{visualForm.value.propane_truck}} - {{'Operario' | translate}}: {{visualForm.value.operator}}</label> <br><br>
                                    <label for="" style="font-size: 11px;">{{'Pedidos' | translate}}:</label> 
                                    <ul class="m-0" *ngFor="let orders of visualForm.value.orders">
                                        <li class="list-group-item m-0"><label for="" style="font-size: 11px;">{{orders}}</label></li>
                                    </ul>
                                    <br>
                                    <label for="" style="font-size: 11px;">{{'Fecha de programación' | translate}}: <br> {{courseForm.value.fecha | date: 'fullDate'}}</label> <br> <br>
                            </div>
                        </div>
                        <div class="buttons-submit">
                            <button type="submit" class="btn btn-success">{{'Registrar' | translate}}</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>