<div class="general-container">
    <div class="container mt-4">

        <div class="row header-mobile">
            <div class="col-sm-10 d-flex justify-content-center">
                <h2 class="text-title"><lucide-icon name="tablet" [size]="60"></lucide-icon> {{'Dispositivos de control' | translate}}</h2>
            </div>
            <div class="col-md-8 d-flex justify-content-center text-center">
                <p style="font-size: 10px; color: #b9b9b9;">{{'Las tabletas son dispositivos electrónicos móviles con sistema android que permiten las operaciones de cargue GLP' | translate}}</p>
            </div>
        </div>

        <div class="row header mb-4">
            <div class="row">
                <div class="col-sm-1">
                </div>
                <div class="col-sm-10 d-flex justify-content-center">
                    <h2 class="text-title"><lucide-icon name="tablet" [size]="60"></lucide-icon> {{'Dispositivos de control' | translate}}</h2>
                </div>
                <div class="col-sm-1">
                </div>
            </div>
            <div class="row text-content text-center mb-2">
                <div class="col-md-12">
                    <p style="font-size: 12px; color: #b9b9b9;">{{'Las tabletas son dispositivos electrónicos móviles con sistema android que permiten las operaciones de cargue GLP' | translate}}</p>
                </div>
            </div>
        </div>

        <div class="row mt-4 d-flex justify-content-center" *ngIf="tablets.length == 0">
            <div class="col-sm-4 text-center">
                <p style="font-size: 14px; color: #a8a8a8;">{{'Presione Añadir para crear registros en esta sección' | translate}}</p>
            </div>
        </div>

        <div class="row d-flex justify-content-center search-filter" *ngIf="tablets.length > 0">
            <div class="col-lg-4 filter text-center">
                <input class="form-control" #myInput type="text" placeholder="{{'Buscar..' | translate}}"
                    (input)="initializeSearchFilter()">
                <p style="font-size: 10px; color: #a8a8a8;">{{'Para utilizar correctamente el buscador por favor desplegar todos los registros con el paginador' | translate}}</p>
            </div>
        </div>

        <div class="row p-1 buttons-group-landscape">
            <div class="col-sm-12 d-flex">
                <div class="col-md-11">
                    <p style="font-size: 12px; color: #a8a8a8;">
                        <button type="button" class="btn btn-secondary btn-sm" (click)="setPageSizeToTotal()">{{'Mostrar todo' | translate}}</button>
                        {{pageIndex * pageSize + 1}} - {{(pageIndex + 1) * pageSize}} {{'de' | translate}} {{tablets.length}} {{'registros' | translate}} 
                    </p>
                </div>
                <div class="col-md-1 float-end">
                    <button (click)="toCreateTablets()" class="btn btn-success float-end">
                        <img src="assets/images/icons/add.svg"> {{'Añadir' | translate}}
                    </button>
                </div>
            </div>
        </div>

        <label class="text-length px-1" style="font-size: 10px; color: #a8a8a8;">{{pageIndex * pageSize + 1}} - {{(pageIndex + 1) * pageSize}} {{'de' | translate}} {{tablets.length}} {{'registros' | translate}}</label>
        <div class="buttons-group-portrait">
            <button class="btn btn-sm btn-secondary" (click)="setPageSizeToTotal()">{{'Mostrar todo' | translate}}</button>
            <button class="btn btn-sm btn-success" (click)="toCreateTablets()"><img src="assets/images/icons/add.svg"> {{'Añadir' | translate}}</button>
        </div>

        <div class="row mt-1 d-flex justify-content-center" *ngIf="isLoading">
            <div class="col-sm-1">
                <div class="spinner-grow text-secondary" role="status">
                    <span class="sr-only"></span>
                </div>
                <div class="spinner-grow text-light" role="status">
                    <span class="sr-only"></span>
                </div>
            </div>
        </div>

        <div class="row mt-1 table-list">
            <div class="col-md">
                <table class="table table-striped table-bordered" *ngIf="tablets.length > 0">
                    <thead>
                        <tr>
                            <th class="custom-header" (click)="sortData('mac')" id="encabezado">{{'Dirección mac' | translate}}</th>
                            <th class="custom-header" (click)="sortData('operator.firstName')" id="encabezado">{{'Operador' | translate}}</th>
                            <th class="custom-header" (click)="sortData('state')" id="encabezado">{{'Estado' | translate}}</th>
                            <th class="custom-header">{{'Acciones' | translate}}</th>
                        </tr>
                    </thead>
                    <tbody id="myTable">
                        <tr *ngFor="let tablet of tablets.slice(pageIndex * pageSize, (pageIndex + 1) * pageSize)">
                            <td class="custom-td">
                                <p>
                                    {{ tablet.mac}}
                                </p>
                                <p style="color: #9e9e9e; font-size: 12px; cursor: pointer" (click)="sortData('create')">
                                    {{tablet.create | date: 'medium'}}
                                </p>
                            </td>
                            <td class="custom-td">
                                <ul class="list-group-item list-group-item-success"
                                    *ngFor="let operator of tablet.operator">
                                    <li class="list-group-item">{{ operator.firstName}} {{ operator.lastName}}</li>
                                </ul>
                            </td>
                            <td class="custom-td">{{ tablet.state}}</td>
                            <td class="custom-td" id="buttons-table">
                                <button class="btn btn-sm btn-secondary"
                                    (click)="toViewTablet(tablet.id)">{{'Ver' | translate}}</button>
                                <button class="btn btn-sm btn-info"
                                    (click)="toEditTablet(tablet)">{{'Editar' | translate}}</button>
                                <button class="btn btn-sm btn-danger" (click)="deleteTablet(tablet)">{{'Eliminar' | translate}}</button>
                            </td>
                        </tr>
                    </tbody>
                </table>
                <mat-paginator [length]="tablets.length" [pageSizeOptions]="[25, 50, 100, tablets.length]"
                    showFirstLastButtons></mat-paginator>
            </div>
        </div>
    </div>

    <app-footer class="hide-on-mobile"></app-footer>
</div>