<app-menu-home></app-menu-home>
<div class="general-container">
    <div class="row d-flex justify-content-center">
        <div class="col-md-10">
            <div class="card" style="width: 100%;" *ngIf="user">
                <img class="card-img-top" style="height: 200px;" src="../../../assets/images/cover.svg" alt="Card image cap">
                <div class="card-body">
                    <h3 class="card-title" style="font-weight: bold;">{{user.firstName}} {{user.lastName}}</h3>
                    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                        card's
                        content.</p>
                </div>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item">{{'Estado' | translate}}: {{user.state}}</li>
                    <li class="list-group-item">{{'Rol' | translate}}: {{user.role.name}}</li>
                    <li class="list-group-item">{{'C.C.' | translate}}: {{user.idNumber}}</li>
                    <li class="list-group-item">{{'Email' | translate}}: {{user.email}}</li>
                </ul>
                <div class="card-body">
                    <button class="btn btn-sm btn-secondary m-2" (click)="toEditUser(user)">{{'Editar' | translate}}</button>
                    <button class="btn btn-sm btn-danger m-2" (click)="deleteUser()" *ngIf="user.state == 'ACTIVO'" >{{'Desactivar usuario' | translate}}</button>
                    <button class="btn btn-sm btn-success m-2" (click)="activateUser()" *ngIf="user.state == 'INACTIVO'" >{{'Activar usuario' | translate}}</button>
                    <button class="btn btn-sm btn-info m-2" (click)="toUserList()">{{'Lista de usuarios' | translate}}</button>
                </div>
            </div>
        </div>
    </div>
</div>