<div class="wrapper">
    <div class="container content">
        <div class="row justify-content-center align-items-center">
            <div class="col-12 text-center">
                <img src="assets/images/simer_corp.png" alt="Simer Electronic" class="img-fluid">
                <h1>{{'MGO (Marco de gestión Operativo)' | translate}}</h1>
                <p>{{'¡Inicia sesión para continuar!' | translate}}</p>
            </div>
            <div class="col-12 text-center mt-4">
                <a (click)="toPlataforms()" class="btn btn-secondary mx-2">{{'Ingresar' | translate}}</a>
                <button (click)="closeWindow()" class="btn btn-danger mx-2">{{'Cerrar' | translate}}</button>
            </div>
        </div>
    </div>

    <app-footer class="hide-on-mobile"></app-footer>
</div>