.general-container {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    max-height: 700px;

    h1 {
        color: #014e87;
        font-weight: bold;
        margin: 0;
    }

    label {
        color: #9c9c9c;
    }

    .box1 {
        border: 1px dashed #014e87;
        min-height: 500px;
        max-height: 500px;
        overflow-y: auto;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    
        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }

        .title {
            color: #014e87;
            font-size: 18px;
        }

        .aditional-info {
            textarea {
                span {
                    font-weight: bold;
                }

                text-align: start !important;
                color: #9c9c9c;
                min-height: 170px;
                max-height: 170px;
                padding-top: 30px;
                font-size: 12px;
            }
        }

        .content {
            cursor: grab;

            &:active {
                cursor: grabbing;
            }

            td {
                vertical-align: middle;
            }

            ul {
                margin: 0;
                background-color: transparent !important;

                li {
                    background-color: transparent !important;
                }
            }

            .custom-header {
                background-color: #014e87;
                color: white;
            }

            .custom-td {
                padding-left: 10px;
            }

        }
    }


    .box2 {
        min-height: 500px;
        max-height: 500px;
        overflow-y: auto;

        border-top: 1px dashed #014e87;
        border-right: 1px dashed #014e87;
        border-bottom: 1px dashed #014e87;
        scrollbar-width: none; /* Firefox */
        -ms-overflow-style: none; /* Internet Explorer 10+ */
    
        &::-webkit-scrollbar {
            display: none; /* Safari and Chrome */
        }

        .title {
            color: #014e87;
            font-size: 18px;
        }

        .aditional-info {
            textarea {
                span {
                    font-weight: bold;
                }

                text-align: start !important;
                color: #9c9c9c;
                min-height: 170px;
                max-height: 170px;
                padding-top: 30px;
                font-size: 12px;
            }
        }

        .content {
            cursor: grab;

            &:active {
                cursor: grabbing;
            }

            td {
                vertical-align: middle;
            }

            ul {
                margin: 0;
                background-color: transparent !important;

                li {
                    background-color: transparent !important;
                }
            }

            .custom-header {
                background-color: #014e87;
                color: white;
            }

            .custom-td {
                padding-left: 10px;
            }

        }
    }

}


@media (orientation: portrait) {
    .general-container {
        display: none !important;
    }

    .general-container-mobile {
        h1 {
            color: #014e87;
            font-weight: bold;
            margin: 0;
            margin-bottom: 1.5rem;
        }

        label {
            color: #9c9c9c;
        }

        .box-container {

            .box {
                margin-bottom: 1.5rem;

                .aditional-info {
                    textarea {
                        span {
                            font-weight: bold;
                        }

                        text-align: start !important;
                        color: #9c9c9c;
                        min-height: 170px;
                        max-height: 170px;
                        padding-top: 30px;
                        font-size: 10px;
                    }
                }

                .content-table {
                    font-size: 11px !important;
                    overflow-x: auto;
                    overflow-y: auto;
                    max-height: 200px;
                    scrollbar-width: none; /* Firefox */
                    -ms-overflow-style: none; /* Internet Explorer 10+ */
                
                    &::-webkit-scrollbar {
                        display: none; /* Safari and Chrome */
                    }

                    td {
                        vertical-align: middle;
                    }

                    ul {
                        margin: 0;
                        background-color: transparent !important;

                        li {
                            background-color: transparent !important;
                        }
                    }

                    .custom-header {
                        background-color: #014e87;
                        color: white;
                    }

                    .reasign {
                        display: flex;
                        flex-wrap: wrap;

                        .btn {
                            flex-grow: 1;
                            flex-basis: 200;
                            font-size: 11px !important;
                            margin: 0.2rem;
                        }
                    }
                }
            }
        }

        .buttons-submit{
            display: flex;
            flex-wrap: wrap;

            .btn {
                flex-grow: 1;
                flex-basis: 200;
                font-size: 11px !important;
                margin: 0.2rem;
            }
        }
    }
}

@media (orientation: landscape) {
    .general-container-mobile {
        display: none !important;
    }
}