/* Mostrar solo en orientación portrait */
.portrait-only {
  display: none;
}

.landscape-only {
  display: none;
}

@media (orientation: portrait) {
  .portrait-only {
    display: block;
  }
}

@media (orientation: landscape) {
  .landscape-only {
    display: block;
  }
}