.nose {
    padding: 4rem 0;
    width: 99%;

    .section {
        padding: 2rem 4rem;

        .icon {
            background-color: #026ec1;
            border-radius: 60%;
            padding-top: 3.2rem;
            width: 18%;
            height: 12rem;
            margin: 1rem 4rem;

            box-shadow: 0px 0px 9px 0px rgba(92, 92, 92, 0.75);
            -webkit-box-shadow: 0px 1px 9px 0px rgba(92, 92, 92, 0.75);
            -moz-box-shadow: 0px 1px 9px 0px rgba(92, 92, 92, 0.75);
        }

        .text {
            h1 {
                font-weight: bold;
            }

            padding: 0 5rem;
            color: #858585;
        }

    }

    #section2 {
        background-color: #F6F6F6;
    }
}

@media (orientation:portrait) {

    .nose {
        .section {
            padding: 2rem 1rem;
            margin: 0 auto;

            .icon {
                margin: 0 0.5rem;
                height: 6rem;
                padding: 0.2rem;
                width: 100%;
            }

            .text {
                margin: 0;
                padding: 0;
            }

        }

        #section2 {
            .text {
                margin-left: 0.5rem;
            }
        }
    }
}

/* Estilos para ocultar el footer en vista móvil */
@media (max-width: 768px) {
    .hide-on-mobile {
        display: none !important;
    }

    .container {
        margin-top: 5rem;
    }
}