.general-container {
    display: flex;
    flex-direction: column;
    min-height: 70vh;

    margin-top: 7rem;

    .container {
        padding-bottom: 100px;

        .header {
            background-color: #103C5D;
            padding-top: 3%;
            border-radius: 100px;

            box-shadow: 0px 8px 0px 0px rgba(47, 96, 134, 0.52);
            -webkit-box-shadow: 0px 8px 0px 0px rgba(47, 96, 134, 0.52);
            -moz-box-shadow: 0px 8px 0px 0px rgba(47, 96, 134, 0.52);

            .text-content {
                margin: 0;
            }

            .col-sm-1 {
                padding-top: 0.5rem;

                lucide-icon {
                    cursor: pointer;
                    color: #fff;
                    transition: color 0.2s ease;
                }

                lucide-icon:hover {
                    animation: cards 0.2s ease 0s 1 normal forwards;
                    color: rgb(208, 208, 208);
                }

            }


            .text-title {
                box-sizing: content-box;
                float: left;
                border: none;
                font-size: 32px;
                color: #fff;
                text-align: center;
                padding: 0 1rem 0 0;
            }
        }

        ul {
            margin: 0;
            background-color: transparent !important;

            li {
                background-color: transparent !important;
            }
        }

        .table {
            font-size: 12px;

            td {
                vertical-align: middle;
            }

            #encabezado {
                cursor: pointer;
            }

            #encabezado:hover {
                cursor: pointer;
                background-color: #0b6db8;
            }

            .custom-header {
                background-color: #103C5D;
                color: white;
            }

            .custom-td {
                padding-left: 10px;
                max-width: 280px;
            }

        }

        h2 {
            -webkit-box-sizing: content-box;
            -moz-box-sizing: content-box;
            box-sizing: content-box;
            float: left;
            border: none;
            font-size: 32px;
            color: #103C5D;
            text-align: center;
            -o-text-overflow: ellipsis;
            text-overflow: ellipsis;
            letter-spacing: -2px;
            text-shadow: 1px 1px 0 rgba(0, 0, 0, 0.25);
        }

        mat-paginator {
            background-color: transparent !important;
        }
    }
}