.general-container {
    display: flex;
    flex-direction: column;
    min-height: 70vh;
    width: 99%;

    margin-top: 7rem;

    .container {
        padding-bottom: 100px;

        .col-lg-11 {

            .card {
                ul {
                    list-style: none;
                    padding: 0;
                    margin: 0;
                }

                #date {
                    margin-right: 75%;
                }

                .card-body {
                    .card-text {
                        color: #014e87;
                        font-weight: bold;
                    }
                }
            }

        }
    }

}

@media (orientation: portrait) {
    .general-container {
        margin-top: 5rem;

        .col-lg-11 {
            .card {
                #date {
                    margin-right: 40%;
                }
            }
        }
    }
}