<div class="row footer d-flex mt-4 p-4 justify-content-center text-center align-items-center w-100" style="background-color: #e9e9e9;" id="responsive-container">
    <div class="col-md-4 copyr" id="items">
        <footer class="text-center py-3">
            &copy; {{'2025 Simer Electronics SAS. Todos los derechos reservados.' | translate}}
        </footer>
    </div>
    <div class="col-md-2" id="items"></div>
    <a class="col-md-5" href="https://simerelectronics.com/" id="items">
        <img src="assets/images/footer.png" style="width: 450px; float: right; margin-top: -10px;">
    </a>
</div>
