<div class="row footer d-flex mt-4 p-4 justify-content-center text-center align-items-center" style="background-color: #e9e9e9;">
    <div class="col-md-6 copyr">
        <footer class="text-center py-3">
            &copy; {{'2024 Simer Electronics SAS. Todos los derechos reservados.' | translate}}
        </footer>
    </div>
    <div class="col-md-3"></div>
    <a class="col-md-3" href="https://simerelectronics.com/">
        <img src="assets/images/footer.png" style="width: 450px; float: right; margin-top: -10px;">
    </a>
</div>
