<div class="general-container">
    <div class="container mt-2">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <h1>{{'Registrar Cargo' | translate}}</h1>
                <div class="col-12 mt-4">
                    <form [formGroup]="occupationsForm" (ngSubmit)="onSubmit()">
    
                        <div class="mb-3">
                            <label for="name" class="form-label">-- {{'Nombre de la ocupación' | translate}}</label>
                            <input type="text" id="name" class="form-control" formControlName="name"
                                placeholder="{{'Escriba aquí el nombre' | translate}}">
                        </div>
    
                        <!-- Puedes agregar más campos aquí según los atributos de la entidad Roles -->
                        <button type="submit" class="btn btn-success m-1" [disabled]="!occupationsForm.valid">{{'Registrar cargo' | translate}}</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>